<!DOCTYPE html>
<html lang="en" ng-app="CustomizeApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <title>Template Customizer</title>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="angular.js"></script>
    <script src="dist/controllers.js"></script>
    <script src="dist/functions.js"></script>
    <script src="javascript/json2.js"></script>
    <script src="javascript/cssjson.js"></script>
    <link rel="stylesheet" href="style/colorpicker.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-controller="customizeCtrl">
    <div id="popup">
    <div class="overlay" ng-click="closeTextContent()"></div>
      <div class="popup-content">
        <a class="close" ng-click="closeTextContent()" href="#">X</a>
        <div class="col">
        <label for="generatedValues">Customization Code</label>
        <div class="output-css" id="generatedValues">Nothing is customized here. Template is in default style.</div>
        <div class="popup-explanation">
          <h4>Setup instructions, or request a <mark class="red">Free Setup</mark> (recommended)</h4>
          <ol>
            <li>Go to Design Manager in your HubSpot and edit the <strong>clickray-theme.css</strong>
            stylesheet under the Coded Files section (Coded Files / custom / system / css)</li>
            <li>Replace the code between the two blocks marked with <mark class="red uppercase">start theme configuration</mark> and <mark class="red uppercase">end theme configuration</mark> with the Theme Customization Code above. </li>
            <li>Publish your changes.</li>
          </ol>
          <button class="setup-instructions">
            Setup Instructions Video
          </button>
        </div>
        </div>
      <div class="col">
      <label for="generatedCss">Call-to-Action Style Code</label>
    <div class="output-css" id="generatedCss" >
    Nothing is customized here. Template is in default style.
    </div>
    <span class="popup-explanation">
       <h4>Setup instructions, or request a <mark class="red">Free Setup</mark> (recommended)</h4>
    </span>
      <ol>
        <li>Create a new Call-to-Action button in HubSpot and click the Design tab.</li>
        <li>From the Style drop-down choose Link (No Style) and click on Customize CSS.</li>
        <li>In the <strong>CSS Class</strong> box add this class: <strong>default-button</strong> (for all the available button styles <mark class="red"><a href="#">click here</a></mark>)</li>
        <li>Copy the code above and paste it in the Custom CSS box and click the create CTA button</li>
        <li>Clone this button whenever you need a new one and just change the CSS Class to obtain the different designs. More info <mark class="red"><a href="#">here</a></mark>.</li>
      </ol>
        <button class="setup-instructions">Setup instructions Video</button>
    </div>
    </div>
    <div class="footer popup-content">
    <footer id="popup-footer">
    <ul class="footer-list">
      <li><a href="//clickray.eu"><img src="images/clickray-logo.png" alt="clickray"></a></li>
      <li>Or you can request a Free Setup and we will do it for you <mark class="uppercase">Free of charge</mark></li>
      <li>Documentation | <mark class="uppercase">Request a Free Setup</mark></li> 
      <li>COPYRIGHT &copy; Clickray</li>
    </ul>
    </footer>
  </div>
</div>
<div controls-onload="controlsLoadedCallBack()" class="element-container" >
  <button id="customizer-open-button"></button>
  <div id="customizer" class="elements">
    <div class="title-bar"><h2 class="customizer-title">
      Customizer
      <i id="customizer-close-button" class="fa fa-times"></i>
    </h2></div>

    <div class="about-customizer content">
      <h2 class="section-title">About the customizer <i class="fa fa-angle-down"></i></h2><div class="about-text-container"><p class="about-text">
      Choose one of the pre-defined Styles from the list below. You can make edits to any Sample Style and these settings will be stored for that Style only. This is great if you want to configure multiple Styles and easily switch between them to compare the designs. Once you are happy with the results, click the "Get the code" button at the bottom of this panel. Please notice that you can click the "Reset this style" button to reset the Style to its default settings. Once you reset your Style there is no way back, so please be careful.</p>
      
      <p class="about-text"><strong>Important note</strong>: The changes you make to these Sample Styles are stored locally in your browser, until you clear the cache or click the "Reset this style" button. They will not be applied on other devices or browsers.</p></div>
    </div>
    <script src="javascript/colorpicker.js"></script>
    <script src="javascript/eye.js"></script>
    <script src="javascript/layout.js"></script>
    <script src="javascript/utils.js"></script>
    <div templates-list></div>
    <div samplestyles-list></div>
    <div global-style-css></div>
    <div customize-header-menu></div>
    <div input-range-width></div>
    <div select-of-stick-header></div>
    <div font-selected-list></div>
    <div generate-css></div>
  </div>
</div>
<iframe id="iframeContent" iframe-onload="iframeLoadedCallBack()" src="sites/turbo-vanadyl.html"  frameborder="0"></iframe>
</body>
<link rel="stylesheet" href="style/customizer.css">
</html>