@import url("https://fonts.googleapis.com/css?family=Lato:400,300,300italic");
input, button {
  border-radius: 5px;
  font-size: 20px; }

h2, h3 {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0; }

button {
  font-size: 14px;
  font-weight: 300;
  color: #807f7f;
  border: none;
  font-family: "Lato";
  cursor: pointer; }
  button[disabled] {
    color: #ddd; }
    button[disabled] i {
      color: #ddd; }
    button[disabled]:hover {
      background: #eee;
      box-shadow: inherit; }

.border-and-shadow, .styled-list, select, option, #font-selected-list > div > span, .styleControl, .style-button .overlay {
  border: none;
  border-bottom: 2px solid #e5e5e5;
  cursor: pointer;
  box-shadow: 0px 0px 8px transparent;
  transition: all 0.3s; }
  .border-and-shadow:hover, .styled-list:hover, select:hover, option:hover, #font-selected-list > div > span:hover, .styleControl:hover, .style-button .overlay:hover {
    background: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid transparent; }
  .border-and-shadow:focus, .styled-list:focus, select:focus, option:focus, #font-selected-list > div > span:focus, .styleControl:focus, .style-button .overlay:focus, .border-and-shadow:active, .styled-list:active, select:active, option:active, #font-selected-list > div > span:active, .styleControl:active, .style-button .overlay:active {
    background: white;
    margin-top: 2px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba black, 0.2; }

.clearfix, .styled-list li:after, #fonts-list li:after, #sample-styles-list .colorcode:after {
  content: "";
  display: block;
  clear: both; }

.styled-list {
  padding: 10px 0px 10px 0px !important;
  border-radius: 5px;
  background: white;
  height: auto !important;
  overflow: visible;
  margin-top: 0;
  list-style: none;
  padding: 0 !important; }
  .styled-list li {
    padding: 20px 0px;
    transition: background 0.3s; }
    .styled-list li:not(:last-child) {
      border-bottom: 1px solid #eee; }
    .styled-list li:hover {
      background: #eee; }

#popup {
  display: none;
  line-height: 1.5em;
  width: 70%;
  left: 15%;
  margin: 0 auto;
  height: 100%;
  top: 2%;
  z-index: 5;
  position: absolute;
  font-family: "Lato";
  font-weight: 300;
  background: #fafafa;
  color: #3d4548 !important; }
  #popup button.setup-instructions {
    background: #f35b5b;
    color: white;
    font-size: 16px;
    padding: 16px;
    padding-bottom: 18px;
    margin-top: 22px; }
  #popup .footer-list {
    list-style: none;
    font-size: 13px; }
  #popup mark.uppercase {
    background: none;
    color: inherit;
    text-transform: uppercase;
    font-weight: bold; }
  #popup a {
    text-decoration: none;
    color: inherit;
    font-weight: 300; }
  #popup mark.red {
    color: #f35b5b;
    font-weight: bold;
    background: none; }
  #popup ol, #popup ul {
    padding: 0;
    padding-left: 15px;
    margin: 0; }
  #popup .overlay {
    position: fixed;
    display: block;
    width: 100%;
    z-index: -1;
    left: 0;
    top: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); }
  #popup .popup-content {
    padding: 30px;
    background: rgba(255, 255, 255, 0.9); }
    #popup .popup-content.footer {
      background: #464646;
      text-align: center;
      color: white;
      padding: 20px 0px; }
    #popup .popup-content:after {
      content: "";
      display: block;
      clear: both; }
    #popup .popup-content .col {
      float: left;
      width: 49%; }
      #popup .popup-content .col:after {
        content: "";
        display: block;
        clear: both; }
    #popup .popup-content .col:first-of-type {
      margin-right: 2%; }
  #popup label {
    display: block;
    font-size: 24px;
    margin-bottom: 25px; }
  #popup h4 {
    font-family: "Lato";
    font-weight: 300;
    font-size: 18px;
    color: #464646;
    margin-bottom: 15px; }
  #popup .output-css {
    border: 1px solid #bbb;
    color: #a1a1a1;
    background: white;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 15px;
    font-weight: 300;
    font-size: 12px;
    resize: none;
    overflow-y: auto;
    overflow-x: hidden;
    outline: none;
    line-height: 1.2em;
    height: 350px;
    width: 100%; }
  #popup .close {
    position: absolute;
    right: 30px;
    color: inherit;
    text-decoration: none;
    font-size: 22px; }

* {
  box-sizing: border-box; }

body {
  margin: 0; }

iframe {
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: -1; }

.element-container {
  position: absolute;
  top: 0;
  left: 0;
  display: none; }

#customizer-open-button {
  position: fixed;
  left: 0px;
  top: 111px;
  outline: none;
  width: 80px;
  background-size: contain;
  background-color: transparent;
  border: none;
  background-image: url("../images/customizer-button.png");
  height: 80px;
  font-size: 22px;
  color: white;
  transition: all 0.3s;
  opacity: 1; }
  #customizer-open-button.open {
    left: 300px;
    opacity: 0;
    display: none; }

#customizer {
  background: #ffffff;
  position: absolute;
  margin-top: 62.2px;
  font-family: "Lato";
  overflow-y: scroll;
  font-weight: 300;
  top: 0px;
  left: 0px;
  /* TODO: zmien to! */
  width: 300px;
  height: 74.6vh;
  transition: all 0.3s; }
  #customizer p {
    font-size: 16px;
    text-align: justify; }
    #customizer p.style-control-explanation {
      font-size: 14px; }
  #customizer > div {
    padding: 17px; }
  #customizer > div:nth-child(2n) {
    background: #f8fbfd; }
  #customizer.open {
    left: 0px; }

.fa {
  float: right;
  margin-top: 5px;
  cursor: pointer;
  color: #464646; }
  .fa.fa {
    margin-right: 12px; }

.container {
  max-width: 1170px !important;
  width: auto; }

.customizer-title {
  font-size: 26px;
  color: #ffffff; }

.title-bar {
  width: 298px;
  top: 0;
  z-index: 2;
  position: fixed;
  background: #464646; }
  .title-bar .fa {
    transition: all 0.3s;
    color: white;
    margin-top: 7px;
    font-size: 17px; }

.about-customizer .about-text-container {
  height: 0px;
  overflow: hidden;
  transition: all 0.3s; }
  .about-customizer .about-text-container.open {
    height: 465px; }
.about-customizer .section-title {
  cursor: pointer;
  margin: 0;
  padding: 0; }
.about-customizer .about-text {
  padding: 0;
  margin: 15px 0px; }

.section-title {
  color: #464646;
  font-size: 24px;
  margin-top: 15px;
  margin-bottom: 25px; }
  .section-title.header-width {
    width: 75%;
    float: left; }

.about-text {
  margin: 25px 0px;
  text-align: justify; }

select, option, .styled-list, #font-selected-list > div > span {
  apple-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  -o-appearance: none;
  overflow: hidden !important;
  width: 100%;
  display: inline-block;
  padding: 10px;
  outline: none;
  height: 50px;
  margin-bottom: 10px;
  font-family: "Lato";
  font-style: italic;
  font-size: 18px; }

.styleControls {
  text-align: center; }

.styleControl {
  display: inline-block;
  padding: 8px;
  background: white;
  border-radius: 5px;
  margin-bottom: 15px; }
  .styleControl .fa {
    float: none;
    margin: 0px 5px; }

#nextStyle {
  margin-left: 41.8%;
  text-align: right; }

ul#sample-styles-list, #fonts-list {
  background: white;
  transition: all 0.2s;
  max-height: 6.6vh; }
  ul#sample-styles-list select, #fonts-list select {
    background: white; }
  ul#sample-styles-list.open, #fonts-list.open {
    max-height: 200vh; }
  ul#sample-styles-list .section-title, #fonts-list .section-title {
    cursor: pointer; }

.style-button {
  margin-bottom: 13px;
  width: 250px;
  position: relative;
  height: 50px;
  border-radius: 5px; }
  .style-button .overlay {
    position: absolute;
    padding: 15px;
    top: 0px;
    font-style: italic;
    left: 5px;
    right: 0px;
    bottom: 0px;
    background: white;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px; }

#header-width-value {
  width: 25%;
  margin-top: 16px;
  padding: 5px;
  margin-top: 15px;
  font-size: 14px;
  color: #959595;
  text-align: center;
  font-weight: 300;
  border: 1px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
  outline-color: #e5e5e5;
  text-align: center; }

#sliderRange {
  width: 100%;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  height: 7px;
  background: #f8fbfd;
  border: 1px solid #edeeef;
  outline-color: #e5e5e5;
  margin-bottom: 18px; }

#font-selected-list > div > span {
  border-radius: 5px;
  background: #f8fbfd; }

.font-list {
  padding: 0;
  list-style: none; }

#selectHeader {
  background: white; }

.templateSelector, .sampleStyleSelect, #selectHeader {
  position: relative; }

.fa-overlay {
  position: absolute;
  margin-top: 18px;
  right: 30px; }

#generate-css {
  padding: 0 !important; }
  #generate-css .fa {
    float: none;
    margin-right: 2px; }

#resetCss {
  width: 100%;
  background: none;
  border: none;
  padding: 8px; }

button.primary {
  height: 85px;
  width: 100%;
  background: #f35b5b;
  color: white;
  font-size: 31px; }

button.secondary {
  background: #807f7f;
  color: white;
  width: 127px;
  margin-bottom: 12px;
  height: 50px; }
  button.secondary:first-child {
    margin-right: 10px; }

#main-buttons {
  background: #464646;
  padding: 17px;
  position: fixed;
  bottom: 0;
  width: 298px; }

#fonts-list {
  font-style: nomal; }
  #fonts-list li {
    font-style: normal;
    padding-left: 10px;
    padding-right: 10px; }

#sample-styles-list {
  border-bottom-width: 0; }
  #sample-styles-list .style-index {
    font-size: 18px;
    float: left;
    display: block;
    text-align: center;
    width: 8%;
    padding-left: 6px; }
    #sample-styles-list .style-index.default {
      padding-left: 10px;
      float: none;
      width: auto;
      display: inline-block; }
  #sample-styles-list .fa {
    margin-right: 24px; }
  #sample-styles-list .colorcode {
    float: left;
    margin-left: 6px; }
  #sample-styles-list .color {
    float: left;
    width: 34px;
    height: 34px; }

/*# sourceMappingURL=customizer.css.map */
