body{
	margin: 0;
}
iframe{
	height: 100vh;
	width: 100%;
}
.container{
	max-width: 1170px!important;
	width: auto;
}
.element-container{
	position: absolute;
	top: 0;
	left: 0;
	display: none;

}
/*.close {
	font-size: 72px;
}
.customizerLabel {
	display: block;
	float: left;
}
.elements{
	padding: 25px;
	background: rgba(0,0,0,.05);
	overflow: scroll;
	height: 100vh;
	width: 300px;
	transition: background-color .3s;
}
.elements:hover {
	background: rgba(0,0,0,.5);
}
#prevStyle {
	float:left;
}
#nextStyle {
	float:right;
}
.styleControl {
	cursor: pointer;
}
.cta_button_hovered:hover {
	background: purple !important;
}
.customizer-element {
	width: 50px;
	height: 50px;
	background-color: red;
	margin-top: 20px;
	margin-bottom: 20px;
}
.select ul.lists{
	list-style: none;
	display: none;
	height: 150px;
	overflow-y: scroll;
}
.select ul.lists > li > span{
	font-size: 20px;
}
.style-button {
	margin-bottom: 25px;
	width: 250px;
	height: 50px;
}
.templateSelector {
	width: 100%;
}


#selectHeader {
	width: 100px;
	margin-left: 25px;
	margin: 25px 0;
}
#popup {
	padding: 25px;
    position: fixed;
    overflow:scroll;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.8);
    display: none;
    z-index: 99
}
#popup .close{
	position: absolute;
	right: 25px;
	z-index: 10;
}*/

