<div id="HeaderMenuCustomizer">
<h2 class="section-title">Header Styles</h2>
				<div header-background-color></div>

		<div class="style-button" id="colorPickerText">
			<div class="overlay">Header text color <i class="fa fa-angle-right"></i></div>
		</div>
	
		<div class="style-button" id="colorPickerDropdownColor">
			<div class="overlay">Header dropdown color<i class="fa fa-angle-right"></i></div>
		</div>
	
		<div class="style-button" id="colorPickerHoverLine">
			<div class="overlay">Header hover line<i class="fa fa-angle-right"></i></div>
		</div>
	
		<div class="style-button" id="colorPickerBorder">
			<div class="overlay">Border color<i class="fa fa-angle-right"></i></div>
		</div></div>
