<div id="font-selected-list">
	<h2 class="section-title">Font Style</h2>
	<ul id="fonts-list" class="styled-list">
		<li ng-click="$parent.updateSelectedFont($index)"id="{{$index}}" style="font-family: '{{f.font}}';" ng-repeat="f in fonts track by $index">
			<span>{{f.font}}</span>
		</li>
	</ul>
	
</div>
