<div id="generate-css">
	<button ng-click="cssResetStyle()" id="resetCss"><i class="fa fa-repeat"></i>Reset</button>
	<div id="main-buttons">
		<button class="secondary">Documentation</button><button class="secondary">Free Setup</button>
		<button ng-click="cssGetStyle()" class="generateCss primary">Generate code</button>
	</div>
</div>