<div id="globalStyleCss">
	<h2 class="section-title">Global Styles</h2>
	<div class="style-button" id="colorPickerGlobalStyles">
		<div class="overlay">Global color <i class="fa fa-angle-right"></i></div>
	</div>

</div>
