<h2 class="section-title header-width">Content Width</h2>
<input type="text" value="" ng-model="inputRangeValue" id="header-width-value">
<input type="range" min="960" max="1920" value="" step="10" id="sliderRange" ng-model="inputRangeValue">
<p class="style-control-explanation">
	Select your Style or use the navigation aroows above to browse between the abvailable styles
</p>