<div id="samplestyles-list" ng-model="fonts">
	<h2 class="section-title">Sample styles</h2>
	<ul id="sample-styles-list" class="styled-list">
		<li ng-click="$parent.updateColorPicker($index)" id="{{$index}}" ng-repeat="s in sampleStylesList track by $index">
			<span class="style-index default" ng-if="s.name == 'Default'">Select preset</span><i ng-if="s.name == 'Default'" class="fa fa-angle-down default"></i>
			<span ng-hide = "{{$index == 0}}" ng-if="s.name != 'Default'" class="style-index"> #{{$index}} </span>
			<div class="colorcode">
				<div class="colorcode">
					<div ng-repeat = "c in s.colors track by $index" class="color" style="background-color: #{{c}}"></div>
				</div>
			</div>
		</li>
	</ul>
	<div id="styleControls">
		<button disabled ng-click="switchStyle('prev')"class="styleControl" id="prevStyle"><i class="fa fa-angle-left"></i>Previous</button>
		<button ng-click="switchStyle('next')"class="styleControl" id="nextStyle">Next<i class="fa fa-angle-right"></i></button></div>
	<p class="style-control-explanation">
		Select your Style or use the navigation arrows above to browse between the available styles.
	</p>
</div>