<h2 class="section-title">Fixed Header</h2>
<select id="selectHeader" ng-model="selectedOptionOfHeader">
  <option value="fixed">Yes</option>
  <option value="static">No</option>
</select><i class="fa fa-overlay fa-angle-right"></i>