<div id="templates-list">
	<h2 class="section-title">Select Template</h2>
	<div class="select-container"><select class="templateSelector" name="templateDirSelect" id="templateDirSelect" value="Select template" ng-model = "selectedDir"
		ng-options="item.key as item.value for item in templateDirList track by item.key">
				<option disabled value="">Select template...</option>
	</select><i class="fa fa-angle-down fa-overlay"></i>
	<select ng-options = "item.key as item.value for item in templateTypeList" ng-model = "selectedType" class="templateSelector" disabled name="templateTypeSelect" id="templateTypeSelect">
	<option disabled value="">Select type...</option>
	</select><i class="fa fa-angle-down fa-overlay"></i>
<select ng-options = "item.key as item.value for item in templateFileList" ng-model = "selectedFile" class="templateSelector" disabled name="templateFileSelect" id="templateFileSelect"> <option disabled value="">Select variant...</option></select><i class="fa fa-angle-down fa-overlay"></i>
</div>