input, button
	border-radius: 5px
	font-size: $button-text	
h2, h3
	font-weight: $light
	margin-top: 0
	margin-bottom: 0
button
	font-size: 14px
	font-weight: 300
	color: $button-color
	border: none
	font-family: "Lato"
	cursor: pointer
	&[disabled]
		color: #ddd
		i
			color: #ddd
		&:hover
			background: #eee
			box-shadow: inherit
.border-and-shadow
	border: none
	border-bottom: 2px solid #e5e5e5
	cursor: pointer
	box-shadow: 0px 0px 8px rgba(black, 0)
	transition: all .3s
	&:hover
		background: white
		box-shadow: 0px 0px 8px rgba(black, 0.5)
		border-bottom: 2px solid rgba(black, 0)
	&:focus, &:active
		background: white
		margin-top: 2px
		box-shadow: 0px 0px 2px rgba(black, 0.1)
		border-bottom: 1px solid rgba (black, .2)
.clearfix
	content: ''
	display: block
	clear: both