$red: #f35b5b
#popup
	display: none
	button.setup-instructions
		background: $red
		color: white
		font-size: 16px
		padding: 16px
		padding-bottom: 18px
		margin-top: 22px
	line-height: 1.5em
	.footer-list
		list-style: none
		font-size: 13px
	mark.uppercase
		background: none
		color: inherit
		text-transform: uppercase
		font-weight: bold
	a
		text-decoration: none
		color: inherit
		font-weight: 300
	width: 70%
	left: 15%
	margin: 0 auto
	height: 100%
	top: 2%
	z-index: 5
	position: absolute
	font-family: 'Lato'
	font-weight: 300
	background: #fafafa
	color: #3d4548 !important
	mark.red
		color: $red
		font-weight: bold
		background: none
	ol, ul
		padding: 0
		padding-left: 15px
		margin: 0
	.overlay
		position: fixed
		display: block
		width: 100%
		z-index: -1
		left: 0
		top: 0
		height: 100%
		background: rgba(black, .6)
	.popup-content
		&.footer
			background: #464646
			text-align: center
			color: white
			padding: 20px 0px
		padding: 30px
		&:after
			content: ''
			display: block
			clear: both
		background: rgba(white, .9)
		.col
			float: left
			width: 49%
			&:after
				content: ''
				display: block
				clear: both
		.col:first-of-type
			margin-right: 2%
	label
		display: block
		font-size: 24px
		margin-bottom: 25px
	h4
		font-family: 'Lato'
		font-weight: 300
		font-size: 18px
		color: #464646
		margin-bottom: 15px
	.output-css
		
		border: 1px solid #bbb
		color: #a1a1a1
		background: white
		padding-left: 35px
		padding-right: 35px
		padding-top: 15px
		font-weight: 300
		font-size: 12px
		resize: none
		overflow-y: auto
		overflow-x: hidden
		outline: none
		line-height: 1.2em
		height: 350px
		width: 100%
	.close
		position: absolute
		right: 30px
		color: inherit
		text-decoration: none
		font-size: 22px