.styled-list
	@extend .border-and-shadow
	@extend option
	padding: 10px 0px 10px 0px !important
	border-radius: 5px
	background: white
	height: auto !important
	overflow: visible
	margin-top: 0
	list-style: none
	padding: 0 !important
	li
		padding: 20px 0px
		transition: background .3s
		&:not(:last-child)
			border-bottom: 1px solid #eee
		&:after
			@extend .clearfix
		&:hover
			background: #eee