@import colors
@import partials
@import typography
@import mixins
@import styled-list
@import popup
*
	box-sizing: border-box
body
	margin: 0
iframe
	height: 100vh
	width: 100%
	position: absolute
	z-index: -1
.element-container
	position: absolute
	top: 0
	left: 0
	display: none
#customizer-open-button
	position: fixed
	left: 0px
	top: 111px
	outline: none
	width: 80px
	background-size: contain
	background-color: transparent
	border: none
	background-image: url('../images/customizer-button.png')
	height: 80px
	font-size: 22px
	color: white
	transition: all .3s
	opacity: 1
	&.open
		left: 300px
		opacity: 0
		display: none
#customizer
	background: $secondary-color
	position: absolute
	margin-top: 62.2px
	font-family: $font-face
	overflow-y: scroll
	font-weight: $light
	top: 0px
	left: 0px
	/* TODO: zmien to! */
	width: 300px
	height: 74.6vh
	transition: all .3s
	& p
		font-size: $main-text
		text-align: justify
		&.style-control-explanation
			font-size: 14px
	& > div
		padding: 17px
	& > div:nth-child(2n)
		background: $main-color
	&.open
		left: 0px
.fa
	float: right
	margin-top: 5px
	cursor: pointer
	color: $text-dark
	&.fa
		margin-right: 12px
.container
	max-width: 1170px !important
	width: auto
.customizer-title
	font-size: $title-size
	color: $text-light
.title-bar
	width: 298px
	top: 0
	z-index: 2
	position: fixed
	background: $title-bar
	.fa
		transition: all .3s
		color: white
		margin-top: 7px
		font-size: 17px
.about-customizer
	.about-text-container
		height: 0px
		overflow: hidden
		transition: all .3s
		&.open
			height: 465px
	.section-title
		cursor: pointer
		margin: 0
		padding: 0
	.about-text
		padding: 0
		margin: 15px 0px
.section-title
	color: $text-dark
	font-size: $section-title
	margin-top: 15px
	margin-bottom: 25px
	&.header-width
		width: 75%
		float: left
.about-text
	margin: 25px 0px
	text-align: justify
select, option
	apple-appearance: none
	-moz-appearance: none
	-webkit-appearance: none
	appearance: none
	-o-appearance: none
	overflow: hidden !important
	width: 100%
	display: inline-block
	padding: 10px
	outline: none
	height: 50px
	margin-bottom: 10px
	font-family: $font-face
	font-style: italic
	font-size: 18px
	@extend .border-and-shadow
.styleControls
	text-align: center
.styleControl
	display: inline-block
	padding: 8px
	background: white
	@extend .border-and-shadow
	border-radius: 5px
	margin-bottom: 15px
	.fa
		float: none
		margin: 0px 5px
#nextStyle
	margin-left: 41.8%
	text-align: right
ul#sample-styles-list, #fonts-list
	background: white
	transition: all .2s
	max-height: 6.6vh
	select
		background: white
	&.open
		max-height: 200vh
	.section-title
		cursor: pointer
.style-button
	margin-bottom: 13px
	width: 250px
	position: relative
	height: 50px
	border-radius: 5px
	.overlay
		position: absolute
		padding: 15px
		top: 0px
		font-style: italic
		left: 5px
		right: 0px
		bottom: 0px
		background: white
		border-bottom-right-radius: 5px
		border-top-right-radius: 5px
		@extend .border-and-shadow
#header-width-value
	width: 25%
	margin-top: 16px
	padding: 5px
	margin-top: 15px
	font-size: 14px
	color: #959595
	text-align: center
	font-weight: 300
	border: 1px solid #e5e5e5
	border-bottom: 2px solid #e5e5e5
	outline-color: #e5e5e5
	text-align: center
#sliderRange
	width: 100%
	// overriding appearance
	-moz-appearance: none
	appearance: none
	-webkit-appearance: none
	-o-appearance: none
	height: 7px
	background: #f8fbfd
	border: 1px solid #edeeef
	outline-color: #e5e5e5
	margin-bottom: 18px
#font-selected-list > div > span
	@extend option
	@extend .border-and-shadow
	border-radius: 5px
	background: #f8fbfd
.font-list
	padding: 0
	list-style: none
#selectHeader
	background: white
.templateSelector, .sampleStyleSelect, #selectHeader
	position: relative
.fa-overlay
	position: absolute
	margin-top: 18px
	right: 30px
#generate-css
	padding: 0 !important
	.fa
		float: none
		margin-right: 2px
#resetCss
	width: 100%
	background: none
	border: none
	padding: 8px
button.primary
	height: 85px
	width: 100%
	background: $generate-color
	color: white
	font-size: 31px
button.secondary
	background: $button-color
	color: white
	width: 127px
	margin-bottom: 12px
	&:first-child
		margin-right: 10px
	height: 50px
#main-buttons
	background: $title-bar
	padding: 17px
	position: fixed
	bottom: 0
	width: 298px
#fonts-list
	font-style: nomal
	li
		font-style: normal
		padding-left: 10px
		padding-right: 10px
		&:after
			@extend .clearfix
#sample-styles-list
	border-bottom-width: 0
	.style-index
		font-size: 18px
		float: left
		display: block
		text-align: center
		width: 8%
		padding-left: 6px
		&.default
			padding-left: 10px
			float: none
			width: auto
			display: inline-block
	.fa
		margin-right: 24px
	.colorcode
		float: left
		margin-left: 6px
		&:after
			@extend .clearfix
	.color
		float: left
		width: 34px
		height: 34px
