img {
    max-width: 100%;
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: bottom
}
video {
    max-width: 100%;
    height: auto
}
.hs-responsive-embed {
    position: relative;
    height: auto;
    overflow: hidden;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0
}
.hs-responsive-embed iframe,
.hs-responsive-embed object,
.hs-responsive-embed embed {
    width: 100%;
    height: 100%;
    border: 0
}
.hs-responsive-embed,
.hs-responsive-embed.hs-responsive-embed-youtube,
.hs-responsive-embed.hs-responsive-embed-wistia,
.hs-responsive-embed.hs-responsive-embed-vimeo {
    padding-bottom: 2%
}
.hs-responsive-embed.hs-responsive-embed-instagram {
    padding-bottom: 116.01%
}
.hs-responsive-embed.hs-responsive-embed-pinterest {
    height: auto;
    overflow: visible;
    padding: 0
}
.hs-responsive-embed.hs-responsive-embed-pinterest iframe {
    position: static;
    width: auto;
    height: auto
}
iframe[src^="http://www.slideshare.net/slideshow/embed_code/"] {
    width: 100%;
    max-width: 100%
}
@media(max-width:568px) {
    iframe {
        max-width: 100%
    }
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
select {
    padding: 6px;
    display: inline-block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
.hs-menu-wrapper ul {
    padding: 0
}
.hs-menu-wrapper.hs-menu-flow-horizontal ul {
    list-style: none;
    margin: 0
}
.hs-menu-wrapper.hs-menu-flow-horizontal>ul {
    display: inline-block;
    margin-bottom: 20px
}
.hs-menu-wrapper.hs-menu-flow-horizontal>ul:before {
    content: " ";
    display: table
}
.hs-menu-wrapper.hs-menu-flow-horizontal>ul:after {
    content: " ";
    display: table;
    clear: both
}
.hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-menu-depth-1 {
    float: left
}
.hs-menu-wrapper.hs-menu-flow-horizontal>ul li a {
    display: inline-block;
    padding: 10px 20px;
    white-space: nowrap;
    max-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none
}
.hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children {
    position: relative
}
.hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children ul.hs-menu-children-wrapper {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .4s;
    position: absolute;
    z-index: 10;
    left: 0
}
.hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children ul.hs-menu-children-wrapper li a {
    display: block;
    white-space: nowrap;
    width: 140px;
    overflow: hidden;
    text-overflow: ellipsis
}
.hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children ul.hs-menu-children-wrapper li.hs-item-has-children ul.hs-menu-children-wrapper {
    left: 180px;
    top: 0
}
.hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children:hover>ul.hs-menu-children-wrapper {
    opacity: 1;
    visibility: visible
}
.row-fluid-wrapper:last-child .hs-menu-wrapper.hs-menu-flow-horizontal>ul {
    margin-bottom: 0
}
.hs-menu-wrapper.hs-menu-flow-horizontal.hs-menu-show-active-branch {
    position: relative;
    margin-bottom: 20px;
    min-height: 7em
}
.hs-menu-wrapper.hs-menu-flow-horizontal.hs-menu-show-active-branch>ul {
    margin-bottom: 0
}
.hs-menu-wrapper.hs-menu-flow-horizontal.hs-menu-show-active-branch>ul li.hs-item-has-children {
    position: static
}
.hs-menu-wrapper.hs-menu-flow-horizontal.hs-menu-show-active-branch>ul li.hs-item-has-children ul.hs-menu-children-wrapper {
    display: none
}
.hs-menu-wrapper.hs-menu-flow-horizontal.hs-menu-show-active-branch>ul li.hs-item-has-children.active-branch>ul.hs-menu-children-wrapper {
    display: block;
    visibility: visible;
    opacity: 1
}
.hs-menu-wrapper.hs-menu-flow-horizontal.hs-menu-show-active-branch>ul li.hs-item-has-children.active-branch>ul.hs-menu-children-wrapper:before {
    content: " ";
    display: table
}
.hs-menu-wrapper.hs-menu-flow-horizontal.hs-menu-show-active-branch>ul li.hs-item-has-children.active-branch>ul.hs-menu-children-wrapper:after {
    content: " ";
    display: table;
    clear: both
}
.hs-menu-wrapper.hs-menu-flow-horizontal.hs-menu-show-active-branch>ul li.hs-item-has-children.active-branch>ul.hs-menu-children-wrapper>li {
    float: left
}
.hs-menu-wrapper.hs-menu-flow-horizontal.hs-menu-show-active-branch>ul li.hs-item-has-children.active-branch>ul.hs-menu-children-wrapper>li a {
    display: inline-block;
    padding: 10px 20px;
    white-space: nowrap;
    max-width: 140px;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none
}
.hs-menu-wrapper.hs-menu-flow-vertical {
    width: 100%
}
.hs-menu-wrapper.hs-menu-flow-vertical ul {
    list-style: none;
    margin: 0
}
.hs-menu-wrapper.hs-menu-flow-vertical li a {
    display: block;
    white-space: nowrap;
    width: 140px;
    overflow: hidden;
    text-overflow: ellipsis
}
.hs-menu-wrapper.hs-menu-flow-vertical>ul {
    margin-bottom: 20px
}
.hs-menu-wrapper.hs-menu-flow-vertical>ul li.hs-menu-depth-1>a {
    width: auto
}
.hs-menu-wrapper.hs-menu-flow-vertical>ul li a {
    padding: 10px 20px;
    text-decoration: none
}
.hs-menu-wrapper.hs-menu-flow-vertical>ul li.hs-item-has-children {
    position: relative
}
.hs-menu-wrapper.hs-menu-flow-vertical>ul li.hs-item-has-children ul.hs-menu-children-wrapper {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .4s;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 180px
}
.hs-menu-wrapper.hs-menu-flow-vertical>ul li.hs-item-has-children:hover>ul.hs-menu-children-wrapper {
    opacity: 1;
    visibility: visible
}
.hs-menu-wrapper.hs-menu-flow-vertical.hs-menu-show-active-branch li a {
    min-width: 140px;
    width: auto
}
.hs-menu-wrapper.hs-menu-flow-vertical.hs-menu-show-active-branch>ul {
    max-width: 100%;
    overflow: hidden
}
.hs-menu-wrapper.hs-menu-flow-vertical.hs-menu-show-active-branch>ul li.hs-item-has-children ul.hs-menu-children-wrapper {
    display: none
}
.hs-menu-wrapper.hs-menu-flow-vertical.hs-menu-show-active-branch>ul li.hs-item-has-children.active-branch>ul.hs-menu-children-wrapper,
.hs-menu-wrapper.hs-menu-flow-vertical.hs-menu-show-active-branch>ul li.hs-item-has-children.active-branch>ul.hs-menu-children-wrapper>li.hs-item-has-children>ul.hs-menu-children-wrapper {
    display: block;
    visibility: visible;
    opacity: 1;
    position: static
}
.hs-menu-wrapper.hs-menu-flow-vertical.hs-menu-show-active-branch li.hs-menu-depth-2>a {
    padding-left: 4em
}
.hs-menu-wrapper.hs-menu-flow-vertical.hs-menu-show-active-branch li.hs-menu-depth-3>a {
    padding-left: 6em
}
.hs-menu-wrapper.hs-menu-flow-vertical.hs-menu-show-active-branch li.hs-menu-depth-4>a {
    padding-left: 8em
}
.hs-menu-wrapper.hs-menu-flow-vertical.hs-menu-show-active-branch li.hs-menu-depth-5>a {
    padding-left: 140px
}
.hs-menu-wrapper.hs-menu-not-show-active-branch li.hs-menu-depth-1 ul {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18)
}
@media(max-width:568px) {
    .hs-menu-wrapper, .hs-menu-wrapper * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        width: 100%
    }
    .hs-menu-wrapper.hs-menu-flow-horizontal ul {
        list-style: none;
        margin: 0;
        display: block
    }
    .hs-menu-wrapper.hs-menu-flow-horizontal>ul {
        display: block
    }
    .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-menu-depth-1 {
        float: none
    }
    .hs-menu-wrapper.hs-menu-flow-horizontal>ul li a,
    .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children ul.hs-menu-children-wrapper li a,
    .hs-menu-wrapper.hs-menu-flow-horizontal.hs-menu-show-active-branch>ul li.hs-item-has-children.active-branch>ul.hs-menu-children-wrapper>li a {
        display: block;
        max-width: 100%;
        width: 100%
    }
}
.hs-menu-wrapper.hs-menu-flow-vertical.no-flyouts>ul li.hs-item-has-children ul.hs-menu-children-wrapper,
.hs-menu-wrapper.hs-menu-flow-horizontal.no-flyouts>ul li.hs-item-has-children ul.hs-menu-children-wrapper {
    visibility: visible;
    opacity: 1
}
.widget-type-space {
    visibility: hidden
}
.hs-author-listing-header {
    margin: 0 0 .75em 0
}
.hs-author-social-links {
    display: inline-block
}
.hs-author-social-links a.hs-author-social-link {
    width: 24px;
    height: 24px;
    border-width: 0;
    border: 0;
    line-height: 24px;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    display: inline-block;
    text-indent: -99999px
}
.hs-author-social-links a.hs-author-social-link.hs-social-facebook {
    background-image: url("//static.hubspot.com/final/img/common/icons/social/facebook-24x24.png")
}
.hs-author-social-links a.hs-author-social-link.hs-social-linkedin {
    background-image: url("//static.hubspot.com/final/img/common/icons/social/linkedin-24x24.png")
}
.hs-author-social-links a.hs-author-social-link.hs-social-twitter {
    background-image: url("//static.hubspot.com/final/img/common/icons/social/twitter-24x24.png")
}
.hs-author-social-links a.hs-author-social-link.hs-social-google-plus {
    background-image: url("//static.hubspot.com/final/img/common/icons/social/googleplus-24x24.png")
}
.hs_cos_wrapper_type_image_slider {
    display: block;
    overflow: hidden
}
.hs_cos_flex-container a:active,
.hs_cos_flex-slider a:active,
.hs_cos_flex-container a:focus,
.hs_cos_flex-slider a:focus {
    outline: 0
}
.hs_cos_flex-slides,
.hs_cos_flex-control-nav,
.hs_cos_flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none
}
.hs_cos_flex-slider {
    margin: 0;
    padding: 0
}
.hs_cos_flex-slider .hs_cos_flex-slides>li {
    display: none;
    -webkit-backface-visibility: hidden;
    position: relative
}
.hs_cos_flex-slider .hs_cos_flex-slides img {
    width: 100%;
    display: block;
    border-radius: 0
}
.hs_cos_flex-pauseplay span {
    text-transform: capitalize
}
.hs_cos_flex-slides:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}
html[xmlns] .hs_cos_flex-slides {
    display: block
}
* html .hs_cos_flex-slides {
    height: 1%
}
.hs_cos_flex-slider {
    margin: 0 0 60px;
    background: #fff;
    border: 0;
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    zoom: 1
}
.hs_cos_flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease
}
.loading .hs_cos_flex-viewport {
    max-height: 300px
}
.hs_cos_flex-slider .hs_cos_flex-slides {
    zoom: 1
}
.carousel li {
    margin-right: 5px
}
.hs_cos_flex-direction-nav {
    *height: 0
}
.hs_cos_flex-direction-nav a {
    width: 30px;
    height: 30px;
    margin: -20px 0 0;
    display: block;
    background: url(//static.hsappstatic.net/content_shared_assets/static-1.3935/img/bg_direction_nav.png) no-repeat 0 0;
    position: absolute;
    top: 50%;
    z-index: 10;
    cursor: pointer;
    text-indent: -9999px;
    opacity: 0;
    -webkit-transition: all .3s ease
}
.hs_cos_flex-direction-nav .hs_cos_flex-next {
    background-position: 100% 0;
    right: -36px
}
.hs_cos_flex-direction-nav .hs_cos_flex-prev {
    left: -36px
}
.hs_cos_flex-slider:hover .hs_cos_flex-next {
    opacity: .8;
    right: 5px
}
.hs_cos_flex-slider:hover .hs_cos_flex-prev {
    opacity: .8;
    left: 5px
}
.hs_cos_flex-slider:hover .hs_cos_flex-next:hover,
.hs_cos_flex-slider:hover .hs_cos_flex-prev:hover {
    opacity: 1
}
.hs_cos_flex-direction-nav .hs_cos_flex-disabled {
    opacity: .3 !important;
    filter: alpha(opacity=30);
    cursor: default
}
.hs_cos_flex_thumbnavs-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none
}
.hs_cos_flex_thumbnavs-direction-nav {
    *height: 0
}
.hs_cos_flex_thumbnavs-direction-nav a {
    width: 30px;
    height: 140px;
    margin: -60px 0 0;
    display: block;
    background: url(//static.hsappstatic.net/content_shared_assets/static-1.3935/img/bg_direction_nav.png) no-repeat 0 40%;
    position: absolute;
    top: 50%;
    z-index: 10;
    cursor: pointer;
    text-indent: -9999px;
    opacity: 1;
    -webkit-transition: all .3s ease
}
.hs_cos_flex_thumbnavs-direction-nav .hs_cos_flex_thumbnavs-next {
    background-position: 100% 40%;
    right: 0
}
.hs_cos_flex_thumbnavs-direction-nav .hs_cos_flex_thumbnavs-prev {
    left: 0
}
.hs-cos-flex-slider-control-panel img {
    cursor: pointer
}
.hs-cos-flex-slider-control-panel img:hover {
    opacity: .8
}
.hs-cos-flex-slider-control-panel {
    margin-top: -30px
}
.hs_cos_flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -40px;
    text-align: center
}
.hs_cos_flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
    *display: inline
}
.hs_cos_flex-control-paging li a {
    width: 11px;
    height: 11px;
    display: block;
    background: #666;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3)
}
.hs_cos_flex-control-paging li a:hover {
    background: #333;
    background: rgba(0, 0, 0, 0.7)
}
.hs_cos_flex-control-paging li a.hs_cos_flex-active {
    background: #000;
    background: rgba(0, 0, 0, 0.9);
    cursor: default
}
.hs_cos_flex-control-thumbs {
    margin: 5px 0 0;
    position: static;
    overflow: hidden
}
.hs_cos_flex-control-thumbs li {
    width: 25%;
    float: left;
    margin: 0
}
.hs_cos_flex-control-thumbs img {
    width: 100%;
    display: block;
    opacity: .7;
    cursor: pointer
}
.hs_cos_flex-control-thumbs img:hover {
    opacity: 1
}
.hs_cos_flex-control-thumbs .hs_cos_flex-active {
    opacity: 1;
    cursor: default
}
@media screen and (max-width: 860px) {
    .hs_cos_flex-direction-nav .hs_cos_flex-prev {
        opacity: 1;
        left: 0
    }
    .hs_cos_flex-direction-nav .hs_cos_flex-next {
        opacity: 1;
        right: 0
    }
}
.hs_cos_flex-slider .caption {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    font-size: 2em;
    line-height: 1.1em;
    color: white;
    padding: 0 5% 0 5%;
    width: 100%;
    bottom: 0;
    text-align: center
}
.hs_cos_flex-slider .superimpose .caption {
    color: white;
    font-size: 3em;
    line-height: 1.1em;
    position: absolute;
    padding: 0 5% 0 5%;
    width: 90%;
    top: 40%;
    text-align: center;
    background-color: transparent
}
@media all and (max-width: 400px) {
    .hs_cos_flex-slider .superimpose .caption {
        background-color: black;
        position: static;
        font-size: 2em;
        line-height: 1.1em;
        color: white;
        width: 90%;
        padding: 0 5% 0 5%;
        top: 40%;
        text-align: center
    }
    #recaptcha_area table#recaptcha_table {
        width: 300px !important
    }
    #recaptcha_area table#recaptcha_table .recaptcha_r1_c1 {
        width: 300px !important
    }
    #recaptcha_area table#recaptcha_table .recaptcha_r4_c4 {
        width: 67px !important
    }
    #recaptcha_area table#recaptcha_table #recaptcha_image {
        width: 280px !important
    }
}
.hs_cos_flex-slider h1,
.hs_cos_flex-slider h2,
.hs_cos_flex-slider h3,
.hs_cos_flex-slider h4,
.hs_cos_flex-slider h5,
.hs_cos_flex-slider h6,
.hs_cos_flex-slider p {
    color: white
}
.hs-gallery-thumbnails li {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-right: -4px
}
.hs-gallery-thumbnails.fixed-height li img {
    max-height: 150px;
    margin: 0;
    padding: 0;
    border-width: 0
}
pre {
    overflow-x: auto
}
table pre {
    white-space: pre-wrap
}
.comment {
    margin: 10px 0 10px 0
}
.hs_cos_wrapper_type_rich_text,
.hs_cos_wrapper_type_text,
.hs_cos_wrapper_type_header,
.hs_cos_wrapper_type_section_header,
.hs_cos_wrapper_type_raw_html,
.hs_cos_wrapper_type_raw_jinja,
.hs_cos_wrapper_type_page_footer {
    word-wrap: break-word
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block
}
audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1
}
audio:not([controls]) {
    display: none
}
.wp-float-left {
    float: left;
    margin: 0 20px 20px 0
}
.wp-float-right {
    float: right;
    margin: 0 0 20px 20px
}
#map_canvas img,
.google-maps img {
    max-width: none
}
#recaptcha_table td {
    line-height: 0
}
.recaptchatable #recaptcha_response_field {
    min-height: 0;
    line-height: 12px
}
@charset 'UTF-8';
.slick-loading .slick-list {
    background: #fff url('./ajax-loader.gif') center center no-repeat
}
@font-face {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;
    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg')
}
.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: 0;
    background: transparent
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: 0;
    background: transparent
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .25
}
.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.slick-prev {
    left: -25px
}
[dir='rtl'] .slick-prev {
    right: -25px;
    left: auto
}
.slick-prev:before {
    content: 'â'
}
[dir='rtl'] .slick-prev:before {
    content: 'â'
}
.slick-next {
    right: -25px
}
[dir='rtl'] .slick-next {
    right: auto;
    left: -25px
}
.slick-next:before {
    content: 'â'
}
[dir='rtl'] .slick-next:before {
    content: 'â'
}
.slick-dots {
    position: absolute;
    bottom: -45px;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center
}
.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer
}
.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: 0;
    background: transparent
}
.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: 0
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1
}
.slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: 'â˘';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.slick-dots li.slick-active button:before {
    opacity: .75;
    color: black
}
.slick-slider {
    position: relative;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0
}
.slick-list:focus {
    outline: 0
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block
}
.slick-track:before,
.slick-track:after {
    display: table;
    content: ''
}
.slick-track:after {
    clear: both
}
.slick-loading .slick-track {
    visibility: hidden
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px
}
[dir='rtl'] .slick-slide {
    float: right
}
.slick-slide img {
    display: block
}
.slick-slide.slick-loading img {
    display: none
}
.slick-slide.dragging img {
    pointer-events: none
}
.slick-initialized .slick-slide {
    display: block
}
.slick-loading .slick-slide {
    visibility: hidden
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
}
.slick-arrow.slick-hidden {
    display: none
}
/*!
 * SlickNav Responsive Mobile Menu v1.0.3
 * (c) 2015 Josh Cope
 * licensed under MIT
 */

.slicknav_menu:after,
.slicknav_menu:before {
    display: table;
    content: " "
}
.slicknav_btn,
.slicknav_nav .slicknav_item {
    cursor: pointer
}
.slicknav_menu,
.slicknav_menu * {
    box-sizing: border-box
}
.slicknav_nav,
.slicknav_nav ul {
    padding: 0;
    list-style: none;
    overflow: hidden
}
.slicknav_btn {
    position: relative;
    display: block;
    vertical-align: middle;
    float: right;
    padding: .438em .625em;
    line-height: 1.125em
}
.slicknav_btn .slicknav_icon-bar+.slicknav_icon-bar {
    margin-top: .188em
}
.slicknav_menu .slicknav_menutxt {
    display: block;
    line-height: 1.188em;
    float: left;
    color: #fff;
    font-weight: 700;
    text-shadow: 0 1px 3px #000
}
.slicknav_menu .slicknav_icon {
    float: left;
    margin: .188em 0 0 .438em
}
.slicknav_menu .slicknav_no-text {
    margin: 0
}
.slicknav_menu .slicknav_icon-bar {
    display: block;
    width: 1.125em;
    height: .125em;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .25);
    box-shadow: 0 1px 0 rgba(0, 0, 0, .25)
}
.slicknav_menu:after {
    clear: both
}
.slicknav_nav li,
.slicknav_nav ul {
    display: block
}
.slicknav_nav .slicknav_arrow {
    font-size: .8em;
    margin: 0 0 0 .4em
}
.slicknav_nav .slicknav_item a {
    display: inline
}
.slicknav_nav .slicknav_row,
.slicknav_nav a {
    display: block
}
.slicknav_nav .slicknav_parent-link a {
    display: inline
}
.slicknav_menu {
    *zoom: 1;
    font-size: 16px;
    background: #4c4c4c;
    padding: 5px
}
.slicknav_menu .slicknav_icon-bar {
    background-color: #fff
}
.slicknav_btn {
    margin: 5px 5px 6px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, .75);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #222
}
.slicknav_nav {
    clear: both;
    color: #fff;
    margin: 0;
    font-size: .875em
}
.slicknav_nav ul {
    margin: 0 0 0 20px
}
.slicknav_nav .slicknav_row,
.slicknav_nav a {
    padding: 5px 10px;
    margin: 2px 5px
}
.slicknav_nav .slicknav_row:hover {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: #ccc;
    color: #fff
}
.slicknav_nav a {
    text-decoration: none;
    color: #fff
}
.slicknav_nav a:hover {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: #ccc;
    color: #222
}
.slicknav_nav .slicknav_txtnode {
    margin-left: 15px
}
.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a {
    padding: 0;
    margin: 0
}
.slicknav_brand {
    float: left;
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    padding: 7px 12px;
    height: 44px
}
.slick-slide {
    outline: 0
}
body {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: 18px !important;
    font-weight: 300;
    color: #4a4949
}
.body-container-wrapper {
    padding-top: 95px
}
p {
    line-height: 28px
}
a,
a:active,
a:focus,
a:hover {
    outline: 0
}
img {
    max-width: 100%
}
.button-blue {
    display: inline-block;
    background: #25b2cc;
    color: #fff;
    text-transform: uppercase;
    width: 225px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    height: 50px;
    line-height: 50px;
    border: 1px solid #25b2cc;
    text-decoration: none;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}
.button-blue:hover {
    background: #fff !important;
    text-decoration: none;
    color: #25b2cc;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}
.button-blue.small {
    text-transform: none;
    width: 165px;
    height: 40px;
    line-height: 40px;
    margin-top: 20px
}
.hs_cos_wrapper_type_section_header .page-header h1 {
    font-size: 40px;
    font-weight: 300 !important;
    text-transform: uppercase;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 15px
}
hr.section-hr {
    width: 125px;
    height: 5px;
    border: 0;
    background: #25b2cc;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 50px
}
span.regular {
    font-weight: normal
}
.pattern {
    height: 100%;
    background-repeat: repeat
}
span.blue {
    color: #25b2cc
}
.author span {
    font-size: 24px;
    font-weight: bold;
    color: #25b2cc
}
.author {
    font-size: 24px;
    margin-top: 30px
}
.slick-prev {
    left: 40px;
    z-index: 9999;
    width: 35px;
    height: 63px;
    display: block
}
.slick-next {
    right: 40px;
    z-index: 9999;
    width: 35px;
    height: 63px;
    display: block
}
.slick-prev:before {
    content: '';
    width: 35px;
    height: 63px;
    display: block;
    background: url(//cdn2.hubspot.net/hubfs/685080/IMG_Turbo_Vanadyl/slider-prev.png?t=1451301815862)
}
.slick-next:before {
    content: '';
    width: 35px;
    height: 63px;
    display: block;
    background: url(//cdn2.hubspot.net/hubfs/685080/IMG_Turbo_Vanadyl/slider-next.png?t=1451301815862)
}
.widget-type-rich_text p {
    line-height: 28px;
    margin: 0
}
.widget-type-rich_text a {
    color: #25b2cc;
    text-decoration: none;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}
.widget-type-rich_text a:hover {
    text-decoration: underline;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}
.widget-type-rich_text ul {
    margin: 0;
    padding: 0;
    list-style: none
}
.widget-type-rich_text ul li {
    margin: 10px 0
}
.widget-type-rich_text ul li:before {
    content: "\f058";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 18px;
    color: #25b2cc;
    vertical-align: middle;
    margin-right: 15px
}
.widget-type-rich_text h4 {
    font-weight: 300 !important;
    font-size: 26px !important;
    margin: 0
}
.widget-type-rich_text h1,
.widget-type-rich_text h2,
.widget-type-rich_text h3,
.widget-type-rich_text h4,
.widget-type-rich_text h5,
.widget-type-rich_text h6 {
    font-weight: 400 !important
}
.widget-type-rich_text h1 {
    font-size: 40px;
    font-weight: 300 !important;
    text-transform: uppercase;
    text-align: center;
    margin: 0 !important
}
.widget-type-rich_text span {
    font-weight: 300 !important
}
.widget-type-rich_text ul li>p,
.widget-type-rich_text ul li>a,
.widget-type-rich_text ul li>h1,
.widget-type-rich_text ul li>h2,
.widget-type-rich_text ul li>h3,
.widget-type-rich_text ul li>h4,
.widget-type-rich_text ul li>h5 {
    display: inline-block;
    margin: 0;
    padding: 0
}
.hs_cos_wrapper_type_header h1,
.hs_cos_wrapper_type_header h2,
.hs_cos_wrapper_type_header h3,
.hs_cos_wrapper_type_header h4 {
    font-weight: 300;
    text-align: center
}
.hs_cos_wrapper_type_header h1 {
    font-size: 40px
}
.hs_cos_wrapper_type_header h2 {
    font-size: 32px
}
.hs_cos_wrapper_type_header h3 {
    font-size: 24px
}
.hs_cos_wrapper_type_header h4 {
    font-size: 20px
}
.hs_cos_wrapper_type_google_search input {
    width: 100%;
    max-width: 300px;
    outline: 0;
    height: 40px;
    padding: 0 10px;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}
.hs_cos_wrapper_type_google_search input:focus {
    border: 1px solid #25b2cc;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}
.hs_cos_wrapper_type_post_listing ul {
    list-style-type: none;
    padding: 0
}
.hs_cos_wrapper_type_post_listing ul li a {
    text-decoration: none;
    color: #25b2cc;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}
.hs_cos_wrapper_type_post_listing ul li a:hover {
    text-decoration: underline;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}
.hs_cos_wrapper_type_post_filter ul {
    list-style-type: none;
    padding: 0
}
.hs_cos_wrapper_type_post_filter ul li a {
    text-decoration: none;
    color: #25b2cc;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}
.hs_cos_wrapper_type_post_filter ul li a:hover {
    text-decoration: underline;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}
.hs_cos_wrapper_type_image_slider .hs_cos_flex-prev {
    background: url(//cdn2.hubspot.net/hubfs/685080/IMG_Turbo_Vanadyl/bg_direction_nav.png?t=1451301815862) no-repeat 0 0;
    opacity: .5
}
.hs_cos_wrapper_type_image_slider .hs_cos_flex-next {
    background: url(//cdn2.hubspot.net/hubfs/685080/IMG_Turbo_Vanadyl/bg_direction_nav.png?t=1451301815862) no-repeat -30px 0
}
.hs_cos_wrapper_type_image_slider .hs_cos_flex-slider:hover .hs_cos_flex-prev,
.hs_cos_wrapper_type_image_slider .hs_cos_flex-slider:hover .hs_cos_flex-prev {
    opacity: .5 !important
}
.hs_cos_wrapper_type_image_slider .hs_cos_flex-control-nav.hs_cos_flex-control-paging li a.hs_cos_flex-active {
    background: #25b2cc;
    opacity: 1
}
.hs_cos_wrapper_type_image_slider .hs_cos_flex-control-nav.hs_cos_flex-control-paging li a {
    background: #25b2cc;
    opacity: .5
}
.hs_cos_wrapper_type_form h3.form-title {
    width: 100%;
    background-color: #25b2cc;
    padding: 30px 0;
    margin: 0;
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-weight: 400
}
.hs_cos_wrapper_type_form form {
    background: #f5f5f5;
    padding: 20px 10px;
    border: solid 2px #e1e1e1;
    border-top: 0
}
.hs_cos_wrapper_type_form form .field.hs-form-field .input>input.hs-input {
    width: 100%;
    border: 0;
    outline: 0;
    margin-bottom: 20px;
    height: 40px;
    padding: 0 10px
}
.hs_cos_wrapper_type_form form .input>textarea.hs-input {
    width: 100%;
    border: 0;
    outline: 0;
    height: 90px
}
.hs_cos_wrapper_type_form form .input>.inputs-list {
    padding: 0
}
.hs_cos_wrapper_type_form form .hs-form-field label {
    display: block;
    margin: 10px 0 10px 0;
    font-size: 16px;
    font-weight: 400 !important
}
.hs_cos_wrapper_type_form form .hs_submit .hs-button {
    border: 0;
    color: #fff;
    margin-top: 30px;
    background-color: #25b2cc;
    padding: 10px 55px;
    border: 1px solid transparent;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}
.hs_cos_wrapper_type_form form .hs_submit .hs-button:hover {
    border: solid 1px #25b2cc;
    background-color: transparent;
    color: #25b2cc;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}
.hs_cos_wrapper_type_form form .input>ul {
    list-style-type: none
}
.hs_cos_wrapper_type_form form .inputs-list.multi-container span,
.hs_cos_wrapper_type_form form .hs-form-booleancheckbox span {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px
}
.hs_cos_wrapper_type_form form .inputs-list.multi-container span:before,
.hs_cos_wrapper_type_form form .hs-form-booleancheckbox span:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    border: solid 2px #25b2cc
}
.hs_cos_wrapper_type_form form .inputs-list.multi-container .hs-form-radio span:before,
.hs_cos_wrapper_type_form form .hs-form-booleancheckbox .hs-form-radio span:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    border: solid 2px #25b2cc;
    border-radius: 50%
}
.hs_cos_wrapper_type_form form .inputs-list.multi-container input,
.hs_cos_wrapper_type_form form .hs-form-booleancheckbox input {
    display: none
}
.hs_cos_wrapper_type_form form .inputs-list.multi-container input:checked+span:before,
.hs_cos_wrapper_type_form form .hs-form-booleancheckbox input:checked+span:before {
    font-family: FontAwesome;
    content: "\2713";
    color: #25b2cc;
    font-size: 20px;
    line-height: 7px;
    font-weight: bold
}
.hs_cos_wrapper_type_form form span.hs-form-required:before {
    border: 0;
    width: auto;
    height: auto;
    position: static;
    margin-right: 0
}
.hs_cos_wrapper_type_form form span.hs-form-required {
    padding-left: 0;
    position: static
}
.hs_cos_wrapper_type_form form .hs-dateinput .pika-lendar .pika-button.pika-day:hover {
    background: #25b2cc !important
}
.hs_cos_wrapper_type_form form .hs-dateinput .pika-lendar .is-today .pika-button.pika-day {
    color: #25b2cc !important
}
.hs_cos_wrapper_type_form form .hs-dateinput .pika-lendar .is-selected .pika-button.pika-day {
    background: #25b2cc !important
}
.hs_cos_wrapper_type_form form .hs_date_picker_example .hs-dateinput>input {
    border: 1px solid #25b2cc;
    height: 30px;
    padding: 0 10px
}
.hs_cos_wrapper_type_form form .hs-dateinput .pika-lendar .is-today.is-selected .pika-button.pika-day {
    color: #fff !important
}
.hs_cos_wrapper_type_simple_menu ul li a {
    color: #25b2cc
}
.hs_cos_wrapper_type_simple_menu ul li a:hover {
    color: #25b2cc;
    text-decoration: underline
}
body {
    margin: 0 !important
}
.container {
    max-width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}
*,
*:before,
*:after {
    box-sizing: border-box
}
.slicknav_menu .slicknav_row:hover {
    background: #25b2cc
}
.slicknav_menu .slicknav_row:hover a {
    color: #fff !important
}
#main-header {
    height: 95px;
    background: #fff;
    width: 100%;
    -webkit-box-shadow: 0 6px 4.65px .25px rgba(0, 0, 0, 0.17);
    box-shadow: 0 6px 4.65px .25px rgba(0, 0, 0, 0.17);
    position: fixed;
    z-index: 99;
    top: 0
}
#main-header .logo {
    line-height: 95px
}
#main-header .logo img {
    vertical-align: middle
}
#main-header .main-menu {
    float: right
}
.hs-menu-wrapper.hs-menu-flow-horizontal ul {
    margin: 0;
    padding: 0;
    list-style: none
}
.hs-menu-wrapper.hs-menu-flow-horizontal ul li {
    display: inline-block;
    padding: 35px 22px
}
.hs-menu-wrapper.hs-menu-flow-horizontal ul li a {
    text-decoration: none;
    padding-bottom: 5px;
    font-size: 16px;
    color: #4a4949;
    border-bottom: 5px solid transparent;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}
.hs-menu-wrapper.hs-menu-flow-horizontal ul li a:hover {
    border-bottom: 5px solid #25b2cc;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}
.hs-menu-wrapper.hs-menu-flow-horizontal>ul>li>a {
    padding: 0
}
.hs-menu-wrapper.hs-menu-flow-horizontal>ul li a {
    max-width: 300px !important
}
.hs-menu-wrapper.hs-menu-flow-horizontal>ul>li.hs-menu-depth-1>a:after {
    margin-left: 10px;
    font-family: FontAwesome;
    content: '\f107';
    color: #25b2cc;
}
.hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-menu-depth-1>a:only-child:after {
    font-family: FontAwesome;
    content: ''
}
.hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children:hover>ul.hs-menu-children-wrapper {
    background: #fff;
    border: 1px solid #eae9e9;
    border-bottom: 2px solid #25b2cc
}
.hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-menu-depth-1>ul {
    margin-top: 20px !important
}
.hs-menu-wrapper.hs-menu-flow-horizontal ul li.hs-menu-depth-1 ul:first-of-type:before {
    content: "";
    background: #fff;
    position: absolute;
    height: 15px;
    width: 15px;
    border-top: solid 1px #eae9e9;
    border-right: solid 1px #eae9e9;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: -8px;
    left: 35px
}
.hs-menu-wrapper.hs-menu-flow-horizontal ul li.hs-menu-depth-2 ul:first-of-type:before {
    content: "";
    height: 0;
    width: 0;
    border-top: solid 0 red;
    border-right: solid 0 red
}
.hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children:hover>ul.hs-menu-children-wrapper li {
    display: block !important;
    padding: 0 !important;
    border-bottom: 1px solid #eae9e9
}
.hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children:hover>ul.hs-menu-children-wrapper li.hs-menu-item>a {
    border-bottom: none !important;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}
.hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children:hover>ul.hs-menu-children-wrapper li.hs-menu-item>a {
    width: 180px !important
}
.hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children:hover>ul.hs-menu-children-wrapper li.hs-menu-item a:hover {
    border-bottom: none !important;
    color: #25b2cc !important;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}
.hs-menu-wrapper.hs-menu-flow-horizontal>ul li.left.hs-item-has-children ul.hs-menu-children-wrapper li.hs-item-has-children ul.hs-menu-children-wrapper {
    left: -180px;
    top: -1px
}
.hs-menu-wrapper.hs-menu-flow-horizontal>ul li.right.hs-item-has-children ul.hs-menu-children-wrapper li.hs-item-has-children ul.hs-menu-children-wrapper {
    left: 180px;
    top: -1px
}
.hs-menu-flow-horizontal .hs-menu-depth-4 ul {
    left: 0 !important;
    position: relative !important;
    border-bottom: 1px solid #eae9e9 !important
}
.hs-menu-flow-horizontal .hs-menu-depth-4 ul li {
    border: 0 !important
}
.hs-menu-flow-horizontal .hs-menu-depth-4 ul li a {
    padding-left: 30px !important
}
.hs-menu-flow-horizontal .hs-menu-depth-5 ul li a {
    padding-left: 40px !important
}
#main-header .hs-form {
    float: right
}
#main-header .hs-form label {
    display: none
}
#main-header .search-form {
    float: right;
    padding: 28px 0;
    margin-right: -40px
}
#main-header .hs-form input {
    position: relative;
    z-index: 3;
    height: 40px;
    border: 0;
    box-shadow: none;
    background: #25b2cc;
    color: #fff;
    padding-right: 35px;
    border-radius: 20px;
    width: 15px;
    opacity: 0;
    cursor: pointer;
    -webkit-transition: all .4s linear;
    -o-transition: all .4s linear;
    transition: all .4s linear
}
#main-header .hs-form input:focus {
    opacity: 1;
    width: 140px;
    z-index: 1;
    outline: 0;
    -webkit-transition: all .4s linear;
    -o-transition: all .4s linear;
    transition: all .4s linear
}
#main-header .hs-form button {
    background: 0;
    box-shadow: none;
    border: 0;
    font-size: 19px;
    cursor: pointer;
    position: relative;
    left: -40px;
    z-index: 2;
    -webkit-transition: all .4s linear;
    -o-transition: all .4s linear;
    transition: all .4s linear
}
#main-header .hs-form .hs-button {
    display: inline-block;
    padding: 35px 0;
    color: #25b2cc
}
#main-header .hs-form .hs-button:before {
    font-family: FontAwesome;
    content: "\f002";
    background: 0;
    box-shadow: none;
    border: 0;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    left: -40px;
    z-index: 2;
    -webkit-transition: all .4s linear;
    -o-transition: all .4s linear;
    transition: all .4s linear
}
.slicknav_menu {
    display: none;
    background: transparent;
    padding: 0;
    position: fixed;
    top: 30px;
    z-index: 999;
    width: 100%
}
.slicknav_menu .slicknav_btn {
    margin-right: 15px
}
.slicknav_menu ul {
    background: #fff;
    color: #000;
    padding: 10px 0
}
.slicknav_menu ul li a {
    color: #000;
    font-size: 14px;
    padding: 8px 14px
}
.slicknav_nav a:hover {
    color: #fff;
    background: #25b2cc
}
#slider {
    overflow: hidden;
    margin-bottom: 0;
    margin-top: -35px
}
#slider .slide {
    height: 760px;
    width: 100%;
    background-size: cover
}
#slider .slide div {
    height: 100%
}
#slider .slide .slide-content {
    max-width: 720px;
    margin: 0 auto;
    text-align: center;
    display: table;
    width: 100%
}
#slider .slide .text-container {
    display: table-cell;
    vertical-align: middle
}
#slider .slide .text-container div {
    height: auto
}
#slider .slide .text-container .hs_cos_wrapper_type_section_header h1 {
    font-size: 34px;
    font-weight: normal !important;
    text-transform: uppercase;
    margin-top: 0;
    line-height: 28px
}
#slider .slide .text-container .secondary-header {
    font-size: 26px;
    color: #25b2cc;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 28px;
    margin: 40px 0
}
#slider .slide .text-container p {
    font-size: 18px;
    font-weight: normal;
    line-height: 28px;
    margin-bottom: 100px
}
.icon-plus-text .box {
    margin-bottom: 65px
}
.icon-plus-text .box .blue-icon i {
    display: inline-block;
    font-size: 0;
    cursor: pointer;
    margin: 15px 30px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #25b2cc
}
.icon-plus-text .box .blue-icon i:hover {
    box-shadow: 0 0 0 10px rgba(37, 178, 204, 0.4);
    color: #fff;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    background-color: #25b2cc
}
.icon-plus-text .box .blue-icon i:hover:after {
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85)
}
.icon-plus-text .box .blue-icon i:after {
    top: 0;
    left: 0;
    padding: 0;
    box-shadow: 0 0 0 3px #25b2cc;
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: -webkit-transform .2s, opacity .2s;
    -moz-transition: -moz-transform .2s, opacity .2s;
    transition: transform .2s, opacity .2s
}
.icon-plus-text .box .blue-icon i:before {
    speak: none;
    font-size: 48px;
    line-height: 90px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased
}
.icon-plus-text .box h4 {
    font-size: 20px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 5px
}
.product {
    background: #eae9e9;
    padding-bottom: 65px;
    overflow: hidden
}
.product .cta-image {
    text-align: center
}
.product .description h4 {
    font-weight: 300;
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 40px
}
.product .description ul {
    margin: 0;
    padding: 0;
    list-style: none
}
.product .description ul li {
    margin: 10px 0
}
.product .description ul li:before {
    content: "\f058";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 18px;
    color: #25b2cc;
    vertical-align: middle;
    margin-right: 15px
}
.product .button-blue.small {
    text-transform: none;
    width: 165px;
    height: 40px;
    line-height: 40px;
    float: right;
    margin-top: 20px
}
.from-blog {
    padding-bottom: 65px
}
.from-blog .image img {
    width: 100%;
    height: 250px
}
.from-blog h3 {
    color: #25b2cc;
    font-size: 26px;
    font-weight: normal;
    margin-bottom: 5px;
    text-transform: uppercase
}
.from-blog p.date {
    font-size: 14px;
    font-weight: 300
}
.from-blog p.date i {
    margin: 0 5px
}
.from-blog p.date i:first-child {
    margin-left: 0
}
.testimonials {
    background-size: cover
}
.testimonials .pattern {
    padding: 145px 0;
    background-color: rgba(255, 255, 255, 0.6);
    overflow: hidden
}
.testimonials .pattern .icons {
    height: 250px;
    overflow: hidden
}
.testimonials .pattern .icons .icon {
    width: 170px;
    height: 170px;
    border-radius: 100%;
    text-align: center;
    line-height: 170px;
    position: relative
}
.testimonials .pattern .icons .icon1 {
    background: #fff;
    color: #25b2cc;
    z-index: 1;
    font-size: 72px
}
.testimonials .pattern .icons .icon2 {
    background: #25b2cc;
    color: #fff;
    z-index: 2;
    top: -90px;
    left: 110px;
    font-size: 98px
}
.testimonials .pattern .text {
    margin-top: 50px
}
.testimonials .pattern .text p {
    font-weight: normal
}
.testimonials .pattern .text .author {
    font-size: 24px;
    margin-top: 30px
}
.testimonials .pattern .text .author span {
    font-size: 24px;
    font-weight: bold;
    color: #25b2cc
}
.partners {
    padding-bottom: 65px
}
.partners .partner {
    text-align: center
}
.cta {
    margin-top: 60px;
    overflow: hidden;
    background-size: cover;
    padding-bottom: 65px
}
.cta p {
    max-width: 530px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center
}
.cta .button-cta {
    margin: 0 auto;
    display: block;
    width: 225px;
    height: 65px;
    line-height: 65px;
    margin-top: 65px
}
.cta-v2 {
    background-size: cover
}
.cta-v2 .pattern {
    padding-bottom: 65px;
    background-color: rgba(255, 255, 255, 0.5);
    overflow: hidden
}
.cta-v2 .hs_cos_wrapper_type_text {
    max-width: 530px;
    margin: 0 auto;
    display: block;
    font-size: 26px;
    text-align: center
}
.cta-v2 .hs_cos_wrapper_type_cta {
    text-align: center;
    margin-top: 65px;
    display: block
}
.cta-v2 .hs_cos_wrapper_type_cta .hs-cta-wrapper {
    display: block
}
.cta .widget-type-cta {
    text-align: center;
    margin-top: 65px
}
#main-footer {
    background: #343434;
    padding: 35px 0;
    color: #fff;
    font-size: 16px;
    overflow: hidden
}
#main-footer .logo {
    margin-bottom: 10px
}
#main-footer h3 {
    font-size: 20px;
    color: #fff;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 10px
}
#main-footer .logo img {
    width: 112px !important;
    height: 30px
}
#main-footer .hs_cos_wrapper_type_section_header h1 {
    font-size: 20px !important;
    font-weight: normal !important;
    color: #fff;
    text-align: left !important;
    margin-top: 0;
    margin-bottom: 0
}
#main-footer .hs_cos_wrapper_type_section_header .secondary-header {
    text-align: left
}
#main-footer .newsletter .input input {
    border-radius: 0;
    border: 0;
    width: 100%;
    box-shadow: none;
    margin-bottom: 20px;
    height: 40px;
    color: #b9b9b9;
    font-size: 16px
}
#main-footer .newsletter button {
    width: 120px;
    height: 40px;
    line-height: 40px
}
#main-footer .newsletter .hs_cos_wrapper_type_form h3.form-title {
    padding: 0
}
#main-footer .newsletter .hs_cos_wrapper.form-title {
    background: transparent
}
#main-footer .newsletter .hs_cos_wrapper_type_form form {
    background: transparent;
    padding: 0;
    border: 0
}
#main-footer .newsletter .hs-button {
    display: inline-block;
    background: #25b2cc;
    color: #fff;
    text-transform: uppercase;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    height: 40px;
    border: 1px solid #25b2cc;
    text-decoration: none;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}
#main-footer .newsletter .hs-button:hover {
    background: #fff;
    text-decoration: none;
    color: #25b2cc;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}
#main-footer .footer-bottom {
    border-top: 1px solid #25b2cc;
    margin: 20px 0;
    padding-top: 10px
}
#main-footer .copyright {
    margin-left: -15px
}
#main-footer ul.social {
    margin: 0;
    float: right
}
#main-footer ul.social li {
    list-style: none;
    display: inline-block
}
#main-footer ul.social li a {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #3e3e3e;
    color: #fff;
    text-align: center;
    line-height: 30px;
    border: 1px solid #282828;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    margin-left: 6px
}
#main-footer ul.social li a:hover {
    background: #25b2cc;
    border: 1px solid #2392a6;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}
#main-page-title {
    overflow: hidden;
    margin-bottom: 0;
    margin-top: -30px
}
#main-page-title .wrap {
    height: 255px;
    width: 100%;
    background-size: cover
}
#main-page-title .pattern {
    background-color: rgba(255, 255, 255, 0.6)
}
#main-page-title .wrap div {
    height: 100%
}
#main-page-title .wrap .title-wrap {
    max-width: 720px;
    margin: 0 auto;
    text-align: center;
    display: table;
    width: 100%
}
#main-page-title .wrap .text-container {
    display: table-cell;
    vertical-align: middle
}
#main-page-title .wrap .text-container div {
    height: auto
}
#main-page-title .wrap .text-container .hs_cos_wrapper_type_section_header h1 {
    font-size: 45px;
    font-weight: normal !important;
    text-transform: uppercase;
    margin-top: 0;
    line-height: 28px
}
.who-we-are {
    padding-bottom: 60px
}
.who-we-are .photo {
    text-align: center
}
.who-we-are .page-header {
    border-bottom: 0
}
.who-we-are #accordion {
    margin-top: 40px
}
.who-we-are #accordion .panel-body {
    border: 0;
    margin-top: 30px
}
.who-we-are #accordion .panel {
    border: 0;
    margin-top: 20px
}
.who-we-are #accordion .panel-heading {
    background: #f1f1f1;
    font-size: 24px;
    color: #25b2cc;
    height: 50px;
    padding: 0
}
.who-we-are #accordion .panel-heading h4 {
    font-weight: normal;
    font-size: 24px;
    margin: 0
}
.who-we-are #accordion .panel-heading h4 a.collapsed {
    text-decoration: none;
    padding: 11px 15px 11px 20px;
    display: block;
    background: #f1f1f1;
    color: #25b2cc
}
.who-we-are #accordion .panel-heading h4 a {
    background: #25b2cc;
    color: #fff;
    padding: 11px 15px 11px 20px;
    display: block;
    text-decoration: none
}
.who-we-are #accordion .panel-heading h4 a span.icon {
    width: 35px;
    height: 35px;
    background: #fff;
    border-radius: 100%;
    display: block;
    float: right;
    position: relative;
    top: -3px
}
.who-we-are #accordion .panel-heading h4 a span.icon:before {
    color: #25b2cc;
    float: right;
    font-size: 17px;
    content: "\f068";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: relative;
    top: 7px;
    left: -10.5px
}
.who-we-are #accordion .panel-heading h4 a.collapsed span.icon:before {
    content: "\f067"
}
.who-we-are .panel-collapse {
    overflow: hidden
}
.advantages {
    background: #f1f1f1;
    padding-bottom: 60px;
    overflow: hidden;
    margin-top: 60px
}
.advantages .image {
    text-align: center
}
.advantages .text {
    margin-top: 65px
}
.advantages .text h4 {
    font-size: 26px;
    font-weight: 300;
    margin-top: 0
}
.advantages .text .icons ul {
    margin: 0;
    padding: 0;
    list-style: none
}
.advantages .text .icons li {
    margin: 50px 0 0 0
}
.advantages .text .icons ul li i {
    font-size: 24px;
    color: #25b2cc;
    margin-right: 30px;
    float: left
}
.advantages .text .icons ul li span {
    display: block;
    padding-left: 55px
}
.our-team .person {
    margin-bottom: 65px
}
.our-team .person .avatar {
    text-align: center
}
.our-team .person .avatar img {
    width: auto;
    height: 300px
}
.our-team .person .title span {
    width: 100%;
    height: 65px;
    background: #25b2cc;
    text-align: center;
    color: #fff;
    line-height: 65px;
    font-size: 26px;
    display: block;
    margin-top: -5px
}
.our-team .person .desc {
    text-align: center;
    color: #25b2cc
}
.our-team .person .desc p {
    margin-top: 0
}
.our-team .person .hs_cos_wrapper_type_rich_text h2 {
    font-size: 22px;
    margin-top: 25px;
    margin-bottom: 0
}
.our-team .person .social {
    margin-top: 25px
}
.our-team .person .social ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center
}
.our-team .person .social ul li {
    display: inline-block;
    margin: 0 2px
}
.our-team .person .social ul li a {
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 1px solid #25b2cc;
    background: #25b2cc;
    color: #fff;
    text-align: center;
    line-height: 35px;
    font-size: 19px;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}
.our-team .person .social ul li a:hover {
    background: #fff;
    color: #25b2cc;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}
.privacy-policy {
    padding: 65px 0;
    overflow: hidden
}
.privacy-policy .container {
    max-width: 940px
}
.hs_cos_wrapper_type_rss_listing .feedreader_box .hs-rss-item {
    float: left;
    width: 32.111111%;
    margin: 0 .58%
}
.hs_cos_wrapper_type_rss_listing .feedreader_box {
    float: left;
    width: 100%;
    margin-bottom: 40px
}
.hs_cos_wrapper_type_rss_listing .feedreader_box .hs-rss-item .hs-rss-item-image-wrapper {
    width: 100%
}
.hs_cos_wrapper_type_rss_listing .feedreader_box .hs-rss-item .hs-rss-featured-image {
    width: 100%;
    float: left;
    height: 250px
}
.hs_cos_wrapper_type_rss_listing .feedreader_box .hs-rss-item .hs-rss-item-text .hs-rss-title {
    color: #25b2cc;
    font-size: 26px;
    font-weight: normal;
    margin-bottom: 5px;
    text-transform: uppercase;
    text-decoration: none
}
.hs-rss-item.hs-with-featured-image .hs-rss-item-text {
    width: 100% !important
}
.hs_cos_wrapper_type_rss_listing .feedreader_box .hs-rss-item .hs-rss-item-text .hs-rss-author:before {
    font-family: FontAwesome;
    content: '\f007';
    margin-right: 10px
}
.hs_cos_wrapper_type_rss_listing .feedreader_box .hs-rss-item .hs-rss-item-text .hs-rss-posted-at {
    display: none
}
.hs_cos_wrapper_type_rss_listing .feedreader_box .hs-rss-item .hs-rss-item-text .hs-rss-date:before {
    font-family: FontAwesome;
    content: '\f073';
    margin-right: 10px
}
.hs_cos_wrapper_type_rss_listing .feedreader_box .hs-rss-item .hs-rss-item-text .hs-rss-byline {
    margin-top: 10px;
    opacity: 1 !important
}
.hs_cos_wrapper_type_rss_listing .feedreader_box .hs-rss-item .hs-rss-item-text .hs-rss-description p>a:last-of-type {
    display: block;
    background: #25b2cc;
    color: #fff;
    text-transform: none;
    width: 165px;
    max-width: 100%;
    text-align: center;
    height: 40px;
    line-height: 34px;
    font-size: 16px;
    border: 1px solid #25b2cc;
    text-decoration: none;
    margin-top: 20px;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}
.hs_cos_wrapper_type_rss_listing .feedreader_box .hs-rss-item .hs-rss-item-text .hs-rss-description p>a:hover:last-of-type {
    border: 1px solid #25b2cc;
    color: #25b2cc;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    background: transparent
}
#hs_cos_wrapper_blog_subscription_title,
#hs_cos_wrapper_top_posts h3,
#hs_cos_wrapper_post_filter h3,
.title {
    font-size: 24px;
    color: #25b2cc;
    font-weight: normal;
    margin: 0 0 10px 0
}
#blog {
    padding: 45px 0 80px 0
}
#blog .sidebar section {
    margin-bottom: 60px
}
#blog .sidebar section h3 {
    font-size: 24px;
    color: #25b2cc;
    font-weight: normal;
    margin: 0 0 10px 0
}
#blog .sidebar .newsletter form input {
    border-radius: 0;
    height: 40px;
    padding: 0 70px 0 10px
}
#blog .sidebar .newsletter form button {
    border-radius: 0;
    background: #25b2cc;
    color: #fff;
    font-size: 29px;
    height: 40px;
    padding: 0;
    text-align: center;
    width: 60px;
    border: 1px solid #25b2cc;
    line-height: 40px;
    float: right;
    position: relative;
    top: -40px
}
#blog .sidebar .posts ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative
}
#blog .sidebar .posts ul li {
    padding-left: 20px
}
#blog .sidebar .posts ul li a:before {
    content: "\f0da";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 15px;
    color: #4a4949;
    vertical-align: middle;
    position: absolute;
    left: 2px;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}
#blog .sidebar .posts ul li:hover a:before {
    color: #25b2cc;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}
#blog .sidebar .posts ul li a {
    color: #4a4949;
    text-decoration: none;
    font-weight: 300;
    font-size: 18px;
    line-height: 36px;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}
#blog .sidebar .posts ul li a:hover {
    color: #25b2cc;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}
#blog .blog-listing article {
    margin-bottom: 70px
}
#blog .post-item .hs-featured-image-wrapper img {
    float: none;
    margin: 0;
    max-width: 847px;
    width: 100%;
    height: auto
}
#blog .post-item .post-header h2 a {
    color: #25b2cc;
    font-size: 28px;
    line-height: 36px;
    margin: 30px 0;
    font-weight: 400;
    text-decoration: none;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}
#blog .post-item .post-header h2 a:hover {
    text-decoration: underline;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}
#blog .post-item .post-footer .user-date,
#blog .post-item .post-footer .comments-wrapper,
#blog .post-item .post-footer .comments-wrapper .users-comments,
#blog .post-item .post-footer .author-link {
    display: inline-block
}
#blog .post-item .post-footer {
    font-size: 16px
}
#blog .post-item .post-footer i {
    font-size: 16px;
    margin: 0 3px;
    color: #25b2cc
}
#blog .post-item .post-footer .more-link-wr {
    text-align: right
}
#blog .author-link,
#blog .comments-wrapper .users-comments,
#blog .user-date {
    text-decoration: none;
    color: #25b2cc
}
#blog .cell-wrapper {
    margin-bottom: 50px
}
#blog .widget-type-post_listing ul,
#blog .widget-type-post_filter ul {
    list-style-type: none;
    padding: 0 13px
}
#blog .widget-type-post_listing ul li a,
#blog .widget-type-post_filter ul li a {
    color: #4a4949;
    text-decoration: none;
    font-weight: 300;
    font-size: 18px;
    line-height: 36px;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    position: relative
}
#blog .widget-type-post_listing ul li a:hover,
#blog .widget-type-post_filter ul li a:hover {
    color: #25b2cc;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}
#blog .widget-type-post_listing ul li a:before,
#blog .widget-type-post_filter ul li a:before {
    font-family: FontAwesome;
    position: absolute;
    content: '\f0da';
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 15px;
    color: #4a4949;
    position: absolute;
    left: -10px;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}
#blog .widget-type-post_listing ul li a:hover:before,
#blog .widget-type-post_filter ul li a:hover:before {
    color: #25b2cc;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}
#blog .post-item .post-footer .more-link {
    display: inline-block;
    background: #25b2cc;
    color: #fff;
    position: relative;
    right: 0;
    text-transform: uppercase;
    width: 225px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    height: 50px;
    line-height: 50px;
    border: 1px solid #25b2cc;
    text-decoration: none;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}
#blog .post-item .post-footer .more-link:hover {
    background: transparent;
    border: 1px solid #25b2cc;
    color: #25b2cc;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}
#blog #blog-page ul.pagination {
    list-style-type: none;
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 140px
}
#blog #blog-page ul.pagination li {
    float: left
}
#blog #blog-page ul.pagination li.disabled {
    display: none
}
#blog #blog-page ul.pagination li a {
    margin: 0 5px;
    text-decoration: none;
    color: #4a4949
}
#blog #blog-page ul.pagination li.active>a {
    color: #25b2cc !important
}
#blog #blog-page ul.pagination li a i:before {
    color: #fff;
    background: #25b2cc;
    margin: 0 auto;
    line-height: 30px;
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    border: solid 1px #25b2cc;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}
#blog #blog-page ul.pagination li a i:hover:before {
    color: #25b2cc;
    background: transparent;
    border: solid 1px #25b2cc;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}
#blog #hs_form_target_blog_subscription form .hs-button {
    border: 1px solid #25b2cc;
    background: #25b2cc;
    color: #fff;
    padding: 10px 50px;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}
#blog #hs_form_target_blog_subscription form .hs-button:hover {
    color: #25b2cc;
    border: 1px solid #25b2cc;
    background: transparent
}
#blog #hubspot-author_data .hs-author-avatar {
    display: inline-block
}
#blog #hubspot-author_data .hs-author-avatar img {
    width: 100px
}
#blog .post-header #hs_cos_wrapper_name {
    font-size: 40px;
    font-weight: 400
}
#blog .hs-blog-social-share-list {
    margin: 40px 0
}
#blog #comment-form form .input input {
    width: 100%;
    height: 40px;
    padding: 0 5px;
    outline: 0;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}
#blog #comment-form form .input textarea {
    width: 100%;
    height: 90px;
    outline: 0;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}
#blog #comment-form form label {
    margin: 10px 0 5px 0;
    display: block
}
#blog #comment-form form .input textarea:focus,
#blog #comment-form form .input input:focus {
    border: solid 1px #25b2cc;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}
#blog #comment-form form .hs_submit .hs-button.primary {
    border: 0;
    display: inline-block;
    background: #25b2cc;
    color: #fff;
    position: relative;
    right: 0;
    text-transform: uppercase;
    width: 225px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    height: 50px;
    line-height: 50px;
    border: 1px solid #25b2cc;
    text-decoration: none;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}
#blog #comment-form form .hs_submit .hs-button.primary:hover {
    background: transparent;
    border: 1px solid #25b2cc;
    color: #25b2cc;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}
#blog .comment .comment-from h4 {
    font-weight: 600;
    font-size: 20px;
    margin: 0 0 20px 0;
    text-transform: uppercase
}
#blog .comment .comment-from h4 a {
    font-weight: 600;
    font-size: 20px;
    margin: 0 0 20px 0;
    text-transform: uppercase;
    text-decoration: none;
    color: #4a4949
}
#blog .comment .comment-from h4 a:hover {
    text-decoration: underline
}
#blog .comment .comment-date {
    font-size: 14px
}
#blog .comment .comment-body {
    border: 1px #dedede dotted;
    border-left: 1px #25b2cc solid;
    padding: 25px 20px;
    margin-bottom: 30px
}
#blog .comment .comment-body p {
    line-height: 36px;
    font-size: 18px;
    margin: 0
}
#blog .comment .comment-reply-to {
    margin-bottom: 25px;
    background: 0
}
#blog .comment .comment-reply-to:before {
    font-family: FontAwesome;
    content: '\f122';
    margin-right: 15px;
    font-size: 15px;
    color: #25b2cc
}
#blog #comment-form .hs-common-confirm-message {
    background: rgba(37, 178, 204, 0.2) !important;
    border: solid 1px #25b2cc !important;
    color: #25b2cc !important
}
.hs_cos_wrapper_type_blog_subscribe form .field.hs-form-field .input>input.hs-input {
    height: 40px;
    margin: 20px 0;
    outline: 0;
    border: 1px solid #dedede;
    padding: 15px 10px;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    width: 100%
}
.hs_cos_wrapper_type_blog_subscribe form .field.hs-form-field .input>input.hs-input:focus {
    border: 1px solid #25b2cc !important;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}
.hs_cos_wrapper_type_blog_subscribe form .input>textarea.hs-input {
    width: 100%;
    border: 0;
    outline: 0;
    height: 90px
}
.hs_cos_wrapper_type_blog_subscribe form .input>.inputs-list {
    padding: 0
}
.hs_cos_wrapper_type_blog_subscribe form .hs-form-field label {
    display: block;
    margin: 10px 0 10px 0;
    font-size: 16px;
    font-weight: 300 !important
}
.hs_cos_wrapper_type_blog_subscribe form .hs_submit .hs-button {
    border: 0;
    color: #fff;
    margin-top: 30px;
    background-color: #25b2cc;
    padding: 10px 55px;
    border: 1px solid transparent;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}
.hs_cos_wrapper_type_blog_subscribe form .hs_submit .hs-button:hover {
    border: solid 1px #25b2cc;
    background-color: transparent;
    color: #25b2cc;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}
.hs_cos_wrapper_type_blog_subscribe form .input>ul {
    list-style-type: none
}
.hs_cos_wrapper_type_blog_subscribe form .inputs-list.multi-container span,
.hs_cos_wrapper_type_blog_subscribe form .hs-form-booleancheckbox span {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px
}
.hs_cos_wrapper_type_blog_subscribe form .inputs-list.multi-container span:before,
.hs_cos_wrapper_type_blog_subscribe form .hs-form-booleancheckbox span:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    border: solid 2px #25b2cc
}
.hs_cos_wrapper_type_blog_subscribe form .inputs-list.multi-container .hs-form-radio span:before,
.hs_cos_wrapper_type_blog_subscribe form .hs-form-booleancheckbox .hs-form-radio span:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    border: solid 2px #25b2cc;
    border-radius: 50%
}
.hs_cos_wrapper_type_blog_subscribe form .inputs-list.multi-container input,
.hs_cos_wrapper_type_blog_subscribe form .hs-form-booleancheckbox input {
    display: none
}
.hs_cos_wrapper_type_blog_subscribe form .inputs-list.multi-container input:checked+span:before,
.hs_cos_wrapper_type_blog_subscribe form .hs-form-booleancheckbox input:checked+span:before {
    font-family: FontAwesome;
    content: "\2713";
    color: #25b2cc;
    font-size: 20px;
    line-height: 7px;
    font-weight: bold
}
.hs_cos_wrapper_type_blog_subscribe form span.hs-form-required:before {
    border: 0;
    width: auto;
    height: auto;
    position: static;
    margin-right: 0
}
.hs_cos_wrapper_type_blog_subscribe form span.hs-form-required {
    padding-left: 0;
    position: static
}
.hs_cos_wrapper_type_blog_subscribe form .hs-dateinput .pika-lendar .pika-button.pika-day:hover {
    background: #25b2cc !important
}
.hs_cos_wrapper_type_blog_subscribe form .hs-dateinput .pika-lendar .is-today .pika-button.pika-day {
    color: #25b2cc !important
}
.hs_cos_wrapper_type_blog_subscribe form .hs-dateinput .pika-lendar .is-selected .pika-button.pika-day {
    background: #25b2cc !important
}
.hs_cos_wrapper_type_blog_subscribe form .hs_date_picker_example .hs-dateinput>input {
    border: 1px solid #25b2cc;
    height: 30px;
    padding: 0 10px
}
.hs_cos_wrapper_type_blog_subscribe form .hs-dateinput .pika-lendar .is-today.is-selected .pika-button.pika-day {
    color: #fff !important
}
.hs_cos_wrapper_type_blog_subscribe form .hs_file_upload_example.field.hs-form-field input[type=file] {
    display: none;
    position: relative
}
.hs_cos_wrapper_type_blog_subscribe form .hs_file_upload_example.field.hs-form-field .buttonFile {
    color: #fff;
    cursor: pointer;
    border: solid 1px #25b2cc;
    padding: 10px 40px;
    background: #25b2cc;
    display: inline-block;
    margin-top: 20px;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}
.hs_cos_wrapper_type_blog_subscribe form .hs_file_upload_example.field.hs-form-field .buttonFile i {
    margin-right: 10px;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}
.hs_cos_wrapper_type_blog_subscribe form .hs_file_upload_example.field.hs-form-field .buttonFile:hover {
    color: #25b2cc;
    background: #fff;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}
.hs_cos_wrapper_type_blog_subscribe form .hs_file_upload_example.field.hs-form-field .buttonFile:hover i {
    color: #25b2cc;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}
#header-service-col .text-wrapper {
    display: table;
    margin: 0 auto
}
#header-service-col .text-wrapper .header-text {
    display: table-cell;
    height: 300px;
    margin-top: 0 !important;
    vertical-align: middle
}
#header-service-col {
    background-size: cover;
    height: 300px;
    margin-top: -27px
}
#how-we-work {
    margin: 0 0 60px 0
}
#how-we-work .title-container {
    text-align: center
}
#how-we-work .title-container h2 {
    border-bottom: solid 4px #25b2cc;
    display: inline-block;
    padding: 0 0 20px 0;
    margin: 0
}
#how-we-work .boxes-icon .box .blue-icon {
    text-align: center;
    width: 100px;
    height: 100px;
    border: 3px solid #25b2cc;
    border-radius: 100%;
    line-height: 92px;
    margin: 0 auto;
    font-size: 48px;
    color: #25b2cc
}
#how-we-work .boxes-icon .box .blue-icon i {
    font-size: inherit
}
#how-we-work .boxes-icon .box .blue-icon:hover {
    background: #25b2cc
}
#how-we-work .boxes-icon .box .blue-icon:hover i {
    color: #fff
}
#how-we-work .boxes-icon .box .text-container {
    text-align: center
}
#how-we-work .boxes-icon .box .text-container h3 {
    font-size: 20px
}
#how-we-work .boxes-icon .box .text-container p {
    font-size: 16px
}
#how-we-work .boxes-icon .hs_cos_wrapper_type_rich_text {
    text-align: center
}
#how-we-work .boxes-icon .hs_cos_wrapper_type_rich_text h3 {
    font-weight: 300 !important
}
#ipads-text {
    background: #eae9e9;
    margin-top: 30px;
    width: 100%;
    padding: 60px 0;
    overflow: hidden
}
#ipads-text .img-wrapper img {
    margin-left: 30px
}
#ipads-text .text-wrapper h2 {
    font-weight: 100;
    font-size: 26px;
    margin: 0 0 30px 0
}
#ipads-text .text-wrapper h2 span {
    font-weight: 400
}
#ipads-text .text-wrapper .widget-type-rich_text {
    text-align: left
}
#ipads-text .text-wrapper .button-blue {
    margin: 60px 30px 0 0
}
#pricing {
    margin-bottom: 60px;
    overflow: hidden
}
#pricing .pricing-box {
    margin: 60px 0 0 0;
    display: block
}
#pricing .pricing-box .hs_cos_wrapper_type_section_header .section-header h1 {
    background-color: #4a4949;
    color: #fff;
    text-align: center;
    padding: 21px 0;
    margin: 0;
    font-size: 30px !important;
    font-weight: 400 !important;
    display: block;
    text-transform: none
}
#pricing .pricing-box .hs_cos_wrapper_type_section_header .secondary-header {
    background-color: #4a4949;
    color: #fff;
    text-align: center;
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 20px !important;
    font-weight: 400 !important;
    display: block
}
#pricing .pricing-box .price {
    font-size: 61px;
    text-align: center;
    line-height: 70px;
    margin: 10px 0 20px 0
}
#pricing .pricing-box .pricing-box-content {
    padding: 0 20px 20px 20px;
    min-height: 450px;
    border: 2px solid #eee;
    border-top: 0;
    overflow: hidden;
    position: relative
}
#pricing .pricing-list {
    list-style-type: none;
    padding: 0
}
#pricing .pricing-list li {
    position: relative;
    padding-left: 20px
}
#pricing .pricing-list li:before {
    font-family: "FontAwesome";
    content: '\f058';
    color: #25b2cc;
    position: absolute;
    left: 0
}
#pricing .cta-bottom {
    margin-top: 100px;
    border-top: solid 1px #eae9e9
}
#pricing .pricing-box-main {
    position: relative
}
#pricing .pricing-box-content .hs_cos_wrapper_type_rich_text {
    text-align: left
}
#pricing .pricing-box-main .hs_cos_wrapper_type_section_header .section-header h1 {
    background-color: #25b2cc;
    color: #fff;
    text-align: center;
    padding: 31px 0;
    margin: 0;
    display: block;
    font-size: 30px !important;
    font-weight: 400 !important;
    text-transform: none
}
#pricing .pricing-box-main .hs_cos_wrapper_type_section_header .secondary-header {
    background-color: #25b2cc;
    color: #fff;
    text-align: center;
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 20px !important;
    font-weight: 400 !important;
    display: block
}
#pricing .pricing-box-main .price {
    font-size: 68px;
    text-align: center;
    line-height: 70px;
    font-weight: 700;
    margin: 10px 0 20px 0
}
#pricing .pricing-box-main .pricing-box-content {
    min-height: 530px;
    padding: 0 20px 20px 20px;
    border: 2px solid #eee;
    border-top: 0;
    overflow: hidden;
    position: relative
}
#cta-block {
    background: #25b2cc;
    width: 100%;
    font-size: 26px;
    color: #fff;
    overflow: hidden
}
#cta-block .cta-content {
    padding: 36px 0
}
#cta-block .widget-type-rich_text ul li:before {
    color: #fff
}
#cta-block .button-wrapper {
    padding: 20px 0
}
#cta-block .button-wrapper .button-cta {
    display: inline-block;
    border: solid 1px #fff;
    font-size: 20px;
    color: #fff;
    padding: 10px 60px;
    text-decoration: none;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}
#cta-block .button-cta:hover {
    background: #fff;
    color: #25b2cc;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}
#our-product {
    font-weight: 300
}
#our-product .text-content span {
    font-weight: 400
}
#our-product .text-content {
    padding: 60px 0
}
#our-product .img-content {
    padding: 60px 0
}
#our-product .text-content .title-product {
    font-size: 26px
}
#our-product .text-content p {
    font-size: 18px;
    line-height: 25px;
    margin: 0
}
#our-product .text-content ul {
    list-style: none;
    padding-left: 25px
}
#our-product .text-content .button-blue {
    margin-top: 50px
}
#our-product .text-content ul li {
    position: relative
}
#our-product .text-content ul li:before {
    position: absolute;
    font-family: FontAwesome;
    content: '\f058';
    color: #25b2cc;
    margin-left: -25px
}
#our-product .bg-color {
    background-color: #eae9e9;
    width: 100%
}
#our-product .img-content .macbook-frame img {
    background: url("../IMG/mac-content.jpg");
    background-repeat: no-repeat;
    background-size: 410px auto;
    background-position: 75px 21px
}
#nav-section .nav-menu .sidebar-menu {
    list-style: none;
    padding: 0
}
#nav-section {
    padding: 50px 0 90px 0
}
#nav-section .nav-menu ul li a {
    font-size: 18px;
    color: #4a4949;
    font-weight: 400;
    padding: 10px 0;
    display: block;
    border-bottom: 1px solid #e5e5e5
}
#nav-section .nav-menu ul li ul {
    margin-top: 10px;
    list-style: none;
    display: none;
    border-left: 1px solid #25b2cc
}
#nav-section .nav-menu ul li ul li:last-child {
    border-bottom: 0
}
#nav-section {
    font-weight: 300
}
#nav-section .cta-place {
    background: url("../IMG/CTA-BG-SMALL.jpg");
    width: 100%;
    height: 395px;
    outline: 4px solid white;
    outline-offset: -8px
}
#nav-section .cta-place img {
    margin: 0 auto 0 auto;
    display: block;
    padding: 20px 0 15px 0
}
#nav-section .cta-place p {
    text-align: center;
    text-transform: uppercase;
    padding: 0 35px
}
#nav-section .cta-place .button-blue {
    width: 164px;
    display: block;
    margin: 15px auto 0 auto
}
#nav-section .nav-text .nav-title {
    font-size: 24px;
    color: #25b2cc;
    font-weight: 400
}
#nav-section .nav-text {
    margin-top: 30px
}
#nav-section .nav-text p {
    line-height: 30px;
    font-size: 18px
}
.single-post .title {
    font-size: 26px;
    color: #4a4949
}
.single-post span {
    font-weight: 400
}
.single-post p {
    line-height: 25px
}
.rows-wrapper .button-blue {
    margin: 40px 0 0 0
}
.section-post-hr {
    margin: 50px 0
}
#subscribe-news {
    background: url("../IMG/CTA-BG.JPG");
    width: 100%;
    min-height: 140px;
    background-position: 0 -343px;
    background-repeat: no-repeat
}
#subscribe-news #form-wrapp form label {
    font-size: 24px;
    font-weight: 400;
    margin: 15px 0
}
#subscribe-news #form-wrapp form .input-text {
    width: 100%;
    max-width: 360px;
    height: 42px;
    font-size: 16px;
    color: #b9b9b9;
    outline: 0;
    padding: 14px 10px;
    border: 0;
    margin-right: 20px
}
#subscribe-news #form-wrapp form .submit-form {
    background-color: #25b2cc;
    font-size: 20px;
    border: 0;
    color: #fff;
    height: 43px;
    padding: 0 40px;
    display: inline-block;
    outline: 0;
    border: 1px solid transparent;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}
#subscribe-news #form-wrapp form .submit-form:hover {
    color: #25b2cc;
    background-color: #fff;
    border: solid 1px #25b2cc;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}
#map {
    margin-top: -30px
}
#form-section {
    padding: 40px 0 45px 0
}
#form-section .text-wrapper h3 {
    font-weight: 300;
    font-size: 26px;
    margin: 0 0 15px 0
}
#form-section .text-wrapper ul {
    list-style: none;
    padding: 0;
    margin-top: 30px
}
#form-section .text-wrapper ul li {
    padding-bottom: 10px
}
#form-section .text-wrapper ul li i {
    font-size: 18px;
    color: #25b2cc;
    padding-right: 5px
}
#form-section .text-wrapper ul li a {
    text-decoration: none;
    color: #25b2cc;
    font-size: 18px;
    font-weight: 400
}
#form-section {
    margin-bottom: 30px
}
#error-content {
    width: 100%;
    height: 100%;
    min-height: 950px;
    margin-top: -27px
}
#error-content {
    padding: 100px 0 180px 0
}
#error-content .hs_cos_wrapper_type_linked_image img {
    margin: 0 auto;
    display: block
}
#error-content .hs_cos_wrapper_type_section_header h1 {
    font-size: 60.6px;
    font-weight: 500 !important;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px
}
#error-content .hs_cos_wrapper_type_section_header .secondary-header {
    font-size: 29.6px;
    line-height: 48px;
    text-align: center;
    display: block;
    margin: 0 auto;
    max-width: 641px
}
#error-content .hs-cta-wrapper {
    margin-top: 30px;
    display: block
}
#main-header .number {
    text-align: right;
    float: right;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 33.5px 0
}
#header-img-lp {
    width: 100%;
    height: 240px;
    margin-top: -27px
}
.lp-cons .pattern {
    background-color: rgba(255, 255, 255, 0.25)
}
.lp-cons {
    background-size: cover;
    background-repeat: no-repeat !important
}
.lp-cons .content {
    display: table;
    width: 100%
}
.lp-cons .content .title-wrapper {
    text-align: left;
    display: table-cell;
    width: 100%
}
.lp-cons .content .title-wrapper .hs_cos_wrapper_type_section_header h1 {
    text-align: left;
    margin: 0 0 10px 0;
    font-size: 30px;
    font-weight: 400 !important
}
.lp-cons .content .title-wrapper .hs_cos_wrapper_type_section_header p {
    margin-top: 0;
    font-size: 22px
}
.title-wrapper {
    display: table-cell;
    height: 240px;
    vertical-align: middle
}
.title-wrapper h2 {
    margin: 0 0 10px 0
}
.title-wrapper p {
    font-weight: 400;
    font-size: 22px
}
#content {
    padding: 60px 0 0 0
}
#content .text-content h2 {
    margin: 0 0 35px 0;
    font-size: 28px
}
#content hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0))
}
#content .text-content p {
    line-height: 24px;
    font-size: 18px;
    font-weight: 300
}
#content .text-content ul {
    list-style: none;
    padding: 20px 0 35px 0
}
#content .text-content ul li {
    position: relative
}
#content .text-content ul li:before {
    font-family: FontAwesome;
    content: "\f058";
    margin-right: 10px;
    color: #25b2cc
}
#content .form-wrapper h2 {
    width: 100%;
    background-color: #25b2cc;
    padding: 30px 0;
    margin: 0;
    color: #fff;
    text-align: center
}
#content .form-wrapper .contact-form label {
    font-size: 16px;
    font-weight: 400
}
#content .form-wrapper .contact-form textarea {
    width: 100%;
    border: 0;
    margin-bottom: 30px
}
#content .form-wrapper .contact-form .form-inputs {
    width: 100%;
    border: 0;
    margin-bottom: 30px
}
#content .form-wrapper form .send-button {
    border: 0;
    margin-top: 30px;
    color: #fff;
    background-color: #25b2cc;
    padding: 10px 55px;
    border: 1px solid transparent;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}
#content .form-wrapper form .send-button:hover {
    border: solid 1px #25b2cc;
    background-color: transparent;
    color: #25b2cc;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}
#content .form-wrapper .contact-form {
    width: 100%;
    background-color: #f5f5f5;
    padding: 10px
}
#content hr {
    margin-top: 65px
}
#slick-client-testimonials {
    margin-bottom: 75px
}
#client-testimonial .single-testimonial img {
    border-radius: 50%;
    width: 100%;
    max-width: 166px
}
#client-testimonial .section-title {
    margin-top: 0
}
#client-testimonial #slick-client-testimonials .single-testimonial {
    max-height: 200px;
    height: 100%
}
#client-testimonial #slick-client-testimonials .slick-active {
    outline: 0
}
#client-testimonial #slick-client-testimonials .single-testimonial .text-content {
    position: relative;
    padding: 28px 0 0 0
}
#client-testimonial #slick-client-testimonials .single-testimonial .text-content:before {
    font-family: FontAwesome;
    font-size: 72px;
    position: absolute;
    content: '\f10d';
    color: rgba(37, 178, 204, 0.2);
    top: -5px;
    left: 0
}
#client-testimonial #slick-client-testimonials .single-testimonial .text-content p {
    font-size: 18px;
    font-weight: 400;
    padding: 28px 0 0 0
}
#client-testimonial #slick-client-testimonials .single-testimonial .text-content .testi-author {
    font-size: 24px;
    font-weight: 400
}
#client-testimonial #slick-client-testimonials .slick-prev {
    left: -50px
}
#client-testimonial #slick-client-testimonials .slick-next {
    right: -50px
}
#client-testimonial #slick-client-testimonials .slick-prev:before {
    background: url('//cdn2.hubspot.net/hubfs/685080/IMG_Turbo_Vanadyl/slider-prev-1.png?t=1451301815862')
}
#client-testimonial #slick-client-testimonials .slick-next:before {
    background: url('//cdn2.hubspot.net/hubfs/685080/IMG_Turbo_Vanadyl/slider-next-1.png?t=1451301815862')
}
.lp-ebook {
    background-size: cover
}
.lp-ebook .content {
    display: table;
    width: 100%
}
.lp-ebook .content .title-wrapper {
    text-align: right;
    display: table-cell;
    width: 100%
}
.lp-ebook .content .title-wrapper .hs_cos_wrapper_type_section_header .page-header h1 {
    text-align: right;
    font-weight: 700 !important;
    color: #fff
}
@media screen and (max-width: 1200px) {
    .our-team .person .avatar img {
        width: auto;
        height: 270px
    }
    #our-product .img-content .macbook-frame img {
        background-repeat: no-repeat;
        background-size: 74% auto;
        background-position: 52% 31%
    }
}
@media screen and (max-width: 991px) {
    #main-header .main-menu ul li {
        padding: 35px 15px
    }
    .nav-menu {
        display: none
    }
    .icon-plus-text .text {
        padding-left: 30px
    }
    .advantages .text {
        margin-top: 10px
    }
    .our-team .person .avatar img {
        width: auto;
        height: 205px
    }
    #ipads-text .img-wrapper img {
        display: block;
        margin: 40px auto 0 auto
    }
    #pricing .pricing-box {
        max-width: 400px;
        margin: 0 auto
    }
    #pricing .pricing-box-main {
        margin-top: 20px;
        max-width: 400px;
        margin: 20px auto
    }
    #our-product .img-content img {
        display: block;
        margin: 0 auto
    }
    .hs_cos_wrapper_type_rss_listing .hs-rss-item.hs-with-featured-image {
        float: left;
        width: 100%;
        max-width: 100%;
        padding: 0 12px
    }
    .hs_cos_wrapper_type_rss_listing .hs-rss-item.hs-with-featured-image .hs-rss-featured-image {
        width: 100%;
        float: left;
        max-width: 100%;
        max-height: 350px
    }
}
@media screen and (max-width: 768px) {
    .photo {
        margin-top: 30px
    }
    #slider .slick-next.slick-arrow,
    #slider .slick-prev.slick-arrow,
    #slick-testimonials .slick-next.slick-arrow,
    #slick-testimonials .slick-prev.slick-arrow {
        display: none !important
    }
    #main-header .main-menu {
        display: none
    }
    .slicknav_menu {
        display: block
    }
    #main-header .logo {
        float: left
    }
    #main-header .logo img {
        width: 100px !important
    }
    #main-header .hs_cos_wrapper_type_google_search {
        display: none
    }
    #slider .slide .slide-content .widget-type-cta {
        margin-top: 20px
    }
    .icon-plus-text .box .blue-icon {
        text-align: center
    }
    .icon-plus-text .text {
        padding-left: 0;
        text-align: center
    }
    .product .cta-image {
        padding-bottom: 20px
    }
    .from-blog .image img {
        height: auto
    }
    .from-blog .post {
        margin-bottom: 30px
    }
    .testimonials .pattern .icons .icon1 {
        margin: 0 auto;
        left: -85px
    }
    .testimonials .pattern .icons .icon2 {
        margin: 0 auto;
        left: 25px
    }
    .partners .partner {
        padding: 12px
    }
    #main-footer ul {
        margin-left: -6px;
        float: none !important;
        padding: 0
    }
    .who-we-are {
        padding: 0
    }
    .our-team .person .avatar img {
        width: auto;
        height: 100%
    }
    #subscribe-news #form-wrapp form .input-text {
        max-width: 100%;
        margin: 0
    }
    #subscribe-news #form-wrapp form .submit-form {
        margin: 40px auto;
        display: block
    }
    #client-testimonial #slick-client-testimonials .single-testimonial {
        max-height: 700px;
        height: 100%;
        position: relative
    }
    #content .form-wrapper {
        margin-top: 40px
    }
    #client-testimonial #slick-client-testimonials .single-testimonial .img-container img {
        margin: 0 auto;
        display: block
    }
    #client-testimonial #slick-client-testimonials .single-testimonial .text-content {
        text-align: center
    }
    #client-testimonial #slick-client-testimonials .single-testimonial .text-content:before {
        left: 15px
    }
    #main-footer .mobile-margin {
        margin-top: 30px
    }
    #main-footer .newsletter form input.hs-input {
        max-width: 300px
    }
    #main-footer .footer-bottom .social li a:first-of-type {
        margin-left: 0
    }
    .who-we-are .photo img {
        width: 100% !important
    }
}
@media screen and (max-width: 480px) {
    .partners .partner {
        width: 100%;
        float: none
    }
    .testimonials .pattern .icons {
        overflow: visible;
        height: 170px
    }
    .testimonials .pattern .icons .icon {
        width: 140px;
        height: 140px;
        line-height: 140px
    }
    .testimonials .pattern .icons .icon1 {
        margin: 0 auto;
        left: -70px
    }
    .testimonials .pattern .icons .icon2 {
        margin: 0 auto;
        left: 40px
    }
    #main-footer .newsletter form input.hs-input {
        max-width: 100%
    }
}